In [1]:
#dependencies
#for consistency with the course I am keeping all api keys in one file named config.py
import requests
from config import census_api_key
import pandas as pd

### Census Api basic info
Here is the link to the American Community Survey API for 2011-2017
    - https://www.census.gov/data/developers/data-sets/acs-1year.html

Chart with all the types of variables you can look up
    - https://api.census.gov/data/2017/acs/acs1.html
Variables - breaking down the data by sex/age/ethnicity
    - https://api.census.gov/data/2017/acs1/variables.html
Geographies - breaking down the data by different geographic areas/sizes
    - https://api.census.gov/data/2017/acs/acs1/geography.html

In [52]:
#Census Data Notes
#base API structure
    #base url + year + data set + data type (variable) + geographic area + API key
    #if you want to show all of a variable type <*> instead of a number/code
        #example - to get information for all states you would type <in=state:*>
base_url = "https://api.census.gov/data"
years = [2012,2013,2014,2015,2016,2017]
data_set = "acs1" #American Community Survey
#state codes for census
#https://www.census.gov/govs/www/gidstate.html
    #Illinois = 17

#Variable types (aka age/sex/ethnicity) for 1-year American Community Surveys
#api.census.gov/data/2013/acs1/variables.html

data_type = "B01003_001E" #total population unweighted
#B01003_001E = total population weighted
#data_type_error = "B01003_001M" #population margin of error

population_df=pd.DataFrame()

In [53]:
#Chicago has 77 Community Areas
#state public use micro area has combined community areas
#example from census website
#https://api.census.gov/data/2013/acs1?get=NAME,B01001_001E&for=public%20use%20microdata%20area:*&in=state:*&key=YOUR_KEY_GOES_HERE

geographic_area = "public%20use%20microdata%20area"

In [54]:
#loop through years
for year in years:
    try:
        #build query url
        query_url = f"{base_url}/{year}/{data_set}?get=NAME,{data_type}&for={geographic_area}:*&in=state:17&key={census_api_key}"
        #make request
        res = requests.get(query_url)
        res = res.json()
        #change response into dataframe
        df = pd.DataFrame.from_records(res)
        #add year column to datafram
        df["year"] = year
        #add to population_df
        population_df = population_df.append(df, sort="True")
    except ValueError:
        print(f"Error {year}")

Error 2016
Error 2017

In [55]:
#From try/except errors and df
    #Errors with years 2016,2017
    #different data sorting 2011

In [56]:
population_df.head()

,0,1,2,3,year
0,NAME,B01003_001E,state,public use microdata area,2012
1,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",130443,17,00104,2012
2,"Rock Island County PUMA, Illinois",147457,17,00105,2012
3,"Henry, Mercer, Henderson, Warren, Hancock, McD...",179259,17,00202,2012
4,"Adams, Pike, Brown, Schuyler & Mason Counties ...",110822,17,00300,2012

In [57]:
#groupby year
population_df["year"].value_counts()

2015    89
2014    89
2013    89
2012    89
Name: year, dtype: int64

In [46]:
population_df.columns

Index([0, 1, 2, 3, 'year'], dtype='object')

,0,1,2,3
0,NAME,B01001_001E,state,public use microdata area
1,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",129732,17,00104
2,"Rock Island County PUMA, Illinois",147258,17,00105
3,"Henry, Mercer, Henderson, Warren, Hancock, McD...",176975,17,00202
4,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112212,17,00300
5,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",142706,17,00401
6,"Montgomery, Bond, Clinton, Fayette & Effingham...",140504,17,00501
7,"Douglas, Edgar, Coles & Cumberland Counties PU...",101406,17,00600
8,"Clark, Jasper, Crawford, Lawrence, Richland, C...",110775,17,00700
9,"South & Southeast Illinois PUMA, Illinois",137470,17,00800
10,"Jackson, Williamson, Franklin & Perry Counties...",187827,17,00900
11,"Monroe, Randolph, Washington, Jefferson & Mari...",158097,17,01001
12,"St. Clair County (Central & Northeast) PUMA, I...",154177,17,01104
13,"St. Clair County (Northwest, Southwest & South...",112778,17,01105
14,"Madison County (East) PUMA, Illinois",123541,17,01204
15,"Madison County (West)--Granite City, Alton, Wo...",143684,17,01205
16,"Sangamon County--Springfield City PUMA, Illinois",199145,17,01300
17,"Macon County--Decatur City PUMA, Illinois",109278,17,01500
18,"Menard, Logan, De Witt, Piatt, Moultrie, Shelb...",148627,17,01602
19,"Peoria County--Peoria City PUMA, Illinois",188429,17,01701
20,"Tazewell County PUMA, Illinois",136352,17,01900
21,"McLean County PUMA, Illinois",174647,17,02000
22,Champaign County--Champaign & Urbana Cities PU...,204897,17,02100
23,"Livingston, Ford, Iroquois & Vermilion Countie...",160256,17,02200
24,"Kankakee County PUMA, Illinois",112120,17,02300
25,"LaSalle County PUMA, Illinois",112183,17,02400
26,"Knox, Stark, Bureau, Marshall & Woodford Count...",149268,17,02501
27,"DeKalb County PUMA, Illinois",104741,17,02601
28,"Stephenson & Ogle Counties PUMA, Illinois",99125,17,02700
29,Winnebago County (Southeast & West)--Rockford ...,204165,17,02801
...,...,...,...,...
59,Cook County (Southeast)--Thornton Township PUM...,170269,17,03413
60,Cook County (South)--Bloom & Rich Townships PU...,168923,17,03414
61,Cook County (North)--Wheeling Township (North ...,127448,17,03415
62,Cook County (Northeast)--Northfield & New Trie...,142433,17,03416
63,Cook County (Northwest)--Hanover & Schaumburg ...,121895,17,03417
64,Cook County (Northwest)--Schaumburg Township (...,111539,17,03418
65,Cook County (Northwest)--Elk Grove & Wheeling ...,122795,17,03419
66,"Cook County (North)--Maine, Norwood Park Towns...",185033,17,03420
67,Cook County (North)--Niles & Evanston Township...,182223,17,03421
68,"Cook County (West)--Leyden, Norwood Park (Sout...",130158,17,03422
69,"Chicago City (North)--Edgewater, Uptown & Roge...",161704,17,03501
70,Chicago City (North)--Lake View & Lincoln Park...,169822,17,03502
71,"Chicago City (North)--West Ridge, Lincoln Squa...",148228,17,03503
72,"Chicago City (Northwest)--Irving Park, Albany ...",153558,17,03504
73,"Chicago City (Northwest)--Portage Park, Dunnin...",132883,17,03520
74,"Chicago City (West)--Austin, Belmont Cragin & ...",184577,17,03521
75,"Chicago City (Northwest)--Logan Square, Avonda...",137844,17,03522
76,"Chicago City (West)--North & South Lawndale, H...",204554,17,03523
77,"Chicago City (West)--West Town, Near West Side...",180137,17,03524
78,"Chicago City (Central)--Near North Side, Loop ...",143170,17,03525
79,"Chicago City (Southwest)--Brighton Park, New C...",159330,17,03526
80,"Chicago City (Southwest)--Gage Park, Garfield ...",161083,17,03527
81,"Chicago City (South)--Chicago Lawn, Englewood/...",147328,17,03528
82,"Chicago City (South)--South Shore, Hyde Park, ...",184060,17,03529
83,"Chicago City (South)--Ashburn, Washington Heig...",133918,17,03530
84,"Chicago City (South)--Auburn Gresham, Roseland...",130497,17,03531
85,"Chicago City (South)--South Chicago, Pullman, ...",127943,17,03532
86,"McHenry County (North, West & Central) PUMA; I...",134619,17,03601
87,"McHenry County (Southeast)--Algonquin, McHenry...",172760,17,03602
88,"Kendall & Grundy Counties PUMA, Illinois",169576,17,03700