### Null Hypothesis Test:

# Is crime related to population? 

**$H_{1}$:p>c**  _where (p) is the Probability of (c) Crime increase_

If crime IS related to population density
> Then the incidence of crime (Mean occurences) between 2012-2015 in the city of Chicago will be higher in areas where the population is higher

**$H_{0}$:p$\leq$c**

If crime IS NOT related to population density
>Then crimes occurences will be equal to or lower

This dataset reflects reported incidents of crime that occurred in the City of Chicago from 2012 to 2015

In [1]:
%matplotlib notebook
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import plotly.plotly as py

In [2]:
# Make a reference to the Crimes_-_2001_to_present file path
crime_path = "C:/Users/Maria/Documents/Colorama - Copy/MariaProject1/Images/Crimes_-_2001_to_present.csv"

# Import the csv file as a DataFrame
crime_df = pd.read_csv(crime_path, encoding="utf-8")
crime_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [3]:
#remove the damn spaces!
cols = crime_df.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
crime_df.columns = cols
crime_df.head()

,ID,Case_Number,Date,Block,IUCR,Primary_Type,Description,Location_Description,Arrest,Domestic,...,Ward,Community_Area,FBI_Code,X_Coordinate,Y_Coordinate,Year,Updated_On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [5]:
communityarea_path = "C:/Users/Maria/Documents/Colorama - Copy/MariaProject1/Images/community_area_to_census.csv"

# Import the csv file as a DataFrame
communityarea_path = pd.read_csv(communityarea_path, encoding="utf-8", index_col=0)

communityarea_path.head()

,Community_Number,Public Use Area
Community,,
Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
West Ridge,2,"Chicago City (North)--West Ridge, Lincoln Squa..."
Uptown,3,"Chicago City (North)--Edgewater, Uptown & Roge..."
Lincoln Square,4,"Chicago City (North)--West Ridge, Lincoln Squa..."
North Center,5,"Chicago City (North)--West Ridge, Lincoln Squa..."

In [6]:
#remove the damn spaces!
cols = communityarea_path.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
communityarea_path.columns = cols
communityarea_path.head()

,Community_Number,Public_Use_Area
Community,,
Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
West Ridge,2,"Chicago City (North)--West Ridge, Lincoln Squa..."
Uptown,3,"Chicago City (North)--Edgewater, Uptown & Roge..."
Lincoln Square,4,"Chicago City (North)--West Ridge, Lincoln Squa..."
North Center,5,"Chicago City (North)--West Ridge, Lincoln Squa..."

#bring the new crimedata with walk together with pop
#crime_df=pd.merge(crime_df, communityarea_path, on=("Community_Area"))
#crime_df.head()

crime_df['Year'].dtype

In [7]:
year= [2012, 2013, 2014, 2015]

In [8]:
Prim_types_df = pd.DataFrame()

In [9]:
#Calucalate total number types of crimes committed 
#and a description of the crime in the area
#between 2012-2015

# Make a request for each of the years
for x in year:    
    Prim_types_df = pd.concat([Prim_types_df, crime_df[crime_df.Year == x]])
       

#Prim_types = crime_df.groupby("year")["SN"].count()

In [10]:
Prim_types_df.reset_index().drop('index', axis=1)

,ID,Case_Number,Date,Block,IUCR,Primary_Type,Description,Location_Description,Arrest,Domestic,...,Ward,Community_Area,FBI_Code,X_Coordinate,Y_Coordinate,Year,Updated_On,Latitude,Longitude,Location
0,10433096,HZ170962,01/01/2012 12:00:00 AM,026XX N MC VICKER AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,True,False,...,29.0,19.0,17,NaN,NaN,2012,05/11/2016 03:48:18 PM,NaN,NaN,NaN
1,10433124,HZ170983,01/01/2012 12:00:00 AM,026XX N MC VICKER AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,True,False,...,29.0,19.0,17,NaN,NaN,2012,05/11/2016 03:48:18 PM,NaN,NaN,NaN
2,11227247,JB147078,01/01/2012 09:00:00 AM,105XX S INDIANAPOLIS AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,10.0,52.0,11,NaN,NaN,2012,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,11228588,JB149037,06/04/2012 12:00:00 PM,037XX W 85TH PL,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,18.0,70.0,11,NaN,NaN,2012,02/12/2018 03:49:14 PM,NaN,NaN,NaN
4,11243251,JB166394,08/07/2012 12:01:00 AM,037XX W HAYFORD ST,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,False,True,...,18.0,70.0,02,NaN,NaN,2012,10/15/2018 04:31:50 PM,NaN,NaN,NaN
5,11244255,JB169720,01/01/2012 12:01:00 AM,019XX N LA CROSSE AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,...,31.0,19.0,17,NaN,NaN,2012,03/02/2018 03:54:48 PM,NaN,NaN,NaN
6,11230974,JB152462,08/06/2012 12:01:00 AM,058XX S NORDICA AVE,0265,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER,RESIDENCE,False,False,...,23.0,56.0,02,NaN,NaN,2012,02/16/2018 03:51:14 PM,NaN,NaN,NaN
7,11248976,JB170105,01/01/2012 12:01:00 AM,087XX S ABERDEEN ST,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,...,21.0,71.0,20,NaN,NaN,2012,03/07/2018 04:15:21 PM,NaN,NaN,NaN
8,11250480,JB177844,01/01/2012 12:01:00 AM,066XX S MAY ST,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,17.0,68.0,17,NaN,NaN,2012,03/09/2018 03:55:02 PM,NaN,NaN,NaN
9,11251585,JB179410,01/10/2012 12:00:00 AM,048XX W MONROE ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,28.0,25.0,17,NaN,NaN,2012,03/10/2018 03:49:20 PM,NaN,NaN,NaN
10,10520780,HZ262685,04/13/2012 12:00:00 AM,064XX S DR MARTIN LUTHER KING JR DR,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,20.0,69.0,11,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN
11,10521090,HZ262624,08/12/2012 12:00:00 PM,027XX S CHRISTIANA AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,True,...,22.0,30.0,17,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN
12,10521199,HZ262885,02/13/2012 07:00:00 PM,070XX S WESTERN AVE,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,OTHER,False,False,...,17.0,66.0,11,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN
13,8601634,HV275211,05/07/2012 03:00:00 AM,064XX S CARPENTER ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,True,False,...,16.0,68.0,02,1170418.0,1862183.0,2012,03/19/2018 04:09:36 PM,41.777315,-87.650797,"(41.777314791, -87.65079698)"
14,11261558,JB192980,10/15/2012 03:00:00 PM,086XX S MANISTEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,7.0,46.0,11,NaN,NaN,2012,03/21/2018 04:01:31 PM,NaN,NaN,NaN
15,11262583,JB193146,02/14/2012 12:00:00 AM,029XX W 86TH PL,1753,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,RESIDENCE,False,False,...,18.0,70.0,02,NaN,NaN,2012,03/22/2018 03:53:18 PM,NaN,NaN,NaN
16,8653702,HV329283,06/11/2012 12:45:00 PM,104XX S WABASH AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,...,9.0,49.0,05,1178418.0,1835813.0,2012,05/07/2018 03:59:56 PM,41.704774,-87.622268,"(41.704774351, -87.622267986)"
17,11270240,JB203998,05/31/2012 10:00:00 AM,022XX W 71ST ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,17.0,66.0,11,NaN,NaN,2012,03/30/2018 03:53:14 PM,NaN,NaN,NaN
18,11276264,JB211490,01/01/2012 12:01:00 AM,023XX N HARDING AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,True,...,35.0,22.0,17,NaN,NaN,2012,12/19/2018 04:12:58 PM,NaN,NaN,NaN
19,8726878,HV402652,07/17/2012 09:00:00 AM,006XX N TROY ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,True,False,...,27.0,23.0,05,1155261.0,1904130.0,2012,04/08/2018 03:47:27 PM,41.892739,-87.705238,"(41.892739177, -87.705238368)"
20,11280039,JB217102,08/01/2012 02:00:00 PM,011XX W 19TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,25.0,31.0,11,NaN,NaN,2012,04/10/2018 03:52:52 PM,NaN,NaN,NaN
21,11217285,JB133790,07/02/2012 12:01:00 AM,021XX N KENNETH AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,APARTMENT,True,True,...,31.0,20.0,02,NaN,NaN,2012,04/12/2018 03:55:17 PM,NaN,NaN,NaN
22,11282179,JB218413,01/01/2012 12:01:00 AM,016XX N MAPLEWOOD AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,...,1.0,24.0,20,NaN,NaN,2012,04/12/2018 03:57:52 PM,NaN,NaN,NaN
23,10486358,HZ226158,06/01/2012 12:00:00 PM,017XX N SPRINGFIELD AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,...,30.0,20.0,02,NaN,NaN,2012,04/15/2016 09:20:50 AM,NaN,NaN,NaN
24,10486424,HZ226240,11/01/2012 09:00:00 AM,073XX N HARLEM AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,41.0,9.0,11,NaN,NaN,2012,04/15/2016 09:20:50 AM,NaN,NaN,NaN
25,11287123,JB225834,01/16/2012 10:55:00 AM,118XX S EMERALD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,34.0,53.0,11,NaN,NaN,2012,04/17/2018 04:02:28 PM,NaN,NaN,NaN
26,11178269,JA549196,09/27/2012 12:00:00 AM,053XX S RICHMOND ST,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,...,14.0,63.0,02,NaN,NaN,2012,04/18/2018 03:52:37 PM,NaN,NaN,NaN
27,10528383,HZ270974,07/09/2012 09:00:00 AM,071XX S SANGAMON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,17.0,68.0,11,NaN,NaN,2012,05/20/2016 03:54:40 PM,NaN,NaN,NaN
28,11290732,JB231241,03/01/2012 09:00:00 AM,020XX W FERDINAND ST,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,OTHER,False,False,...,26.0,24.0,26,NaN,NaN,2012,04/21/2018 03:49:32 PM,NaN,NaN,NaN
29,10541258,HZ286800,05/28/2012 09:00:00 AM,009XX E 84TH ST,1120,DECEPTIVE PRACTICE,FORGERY,APARTMENT,False,False,...,8.0,44.0,10,NaN,NaN,2012,05/31/2016 03:53:32 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182192,11537256,JB555972,08/01/2015 01:00:00 PM,006XX E 100TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,9.0,49.0,11,NaN,NaN,2015,12/17/2018 04:19:24 PM,NaN,NaN,NaN
1182193,11537400,JB556118,04/30/2015 09:00:00 AM,113XX S NORMAL AVE,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,RESIDENCE,False,False,...,34.0,49.0,11,NaN,NaN,2015,12/17/2018 04:19:24 PM,NaN,NaN,NaN
1182194,10225305,HY412267,09/05/2015 07:30:00 AM,002XX E ERIE ST,1755,OFFENSE INVOLVING CHILDREN,CHILD ABANDONMENT,HOSPITAL BUILDING/GROUNDS,False,False,...,42.0,8.0,20,1178056.0,1904830.0,2015,12/18/2018 04:13:04 PM,41.894172,-87.621501,"(41.894171604, -87.621500665)"
1182195,11538230,JB557189,01/01/2015 09:00:00 AM,036XX S DR MARTIN LUTHER KING JR DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,4.0,35.0,11,NaN,NaN,2015,12/18/2018 04:20:29 PM,NaN,NaN,NaN
1182196,11538628,JB557698,01/01/2015 12:01:00 AM,050XX S WASHTENAW AVE,1751,OFFENSE INVOLVING CHILDREN,CRIM SEX ABUSE BY FAM MEMBER,RESIDENCE,False,True,...,14.0,63.0,20,NaN,NaN,2015,12/18/2018 04:20:29 PM,NaN,NaN,NaN
1182197,10294672,HY482022,10/30/2015 10:00:00 AM,012XX S WABASH AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,3.0,33.0,06,1176963.0,1894850.0,2015,12/19/2018 04:12:58 PM,41.866811,-87.625817,"(41.866810739, -87.625817031)"
1182198,10435442,HZ173081,03/03/2015 12:01:00 AM,093XX S STEWART AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,True,...,21.0,49.0,20,NaN,NaN,2015,12/19/2018 04:12:58 PM,NaN,NaN,NaN
1182199,10270394,HY458244,10/11/2015 06:20:00 PM,065XX S ARTESIAN AVE,031A,ROBBERY,ARMED: HANDGUN,VEHICLE NON-COMMERCIAL,False,False,...,16.0,66.0,03,1161163.0,1861320.0,2015,12/20/2018 04:06:14 PM,41.775143,-87.684750,"(41.775143162, -87.684749731)"
1182200,10294023,HY481384,10/29/2015 06:10:00 PM,065XX S WESTERN AVE,0320,ROBBERY,STRONGARM - NO WEAPON,VEHICLE NON-COMMERCIAL,False,False,...,16.0,66.0,03,1161498.0,1861209.0,2015,12/20/2018 04:06:14 PM,41.774832,-87.683525,"(41.774831623, -87.683524733)"
1182201,11540338,JB559598,05/01/2015 12:00:00 AM,064XX S INGLESIDE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,20.0,42.0,11,NaN,NaN,2015,12/20/2018 04:12:36 PM,NaN,NaN,NaN
1182202,10314807,HY503818,11/16/2015 04:36:00 PM,073XX S BLACKSTONE AVE,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,...,8.0,43.0,04B,1187480.0,1856437.0,2015,12/21/2018 04:03:36 PM,41.761159,-87.588431,"(41.761158636, -87.588430933)"
1182203,10278541,HY466888,10/18/2015 02:57:00 PM,067XX S BELL AVE,031A,ROBBERY,ARMED: HANDGUN,ALLEY,False,False,...,16.0,66.0,03,1162561.0,1859886.0,2015,12/22/2018 04:03:39 PM,41.771179,-87.679665,"(41.771179021, -87.679664777)"
1182204,11547279,JB568152,08/01/2015 12:00:00 AM,026XX E 78TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,7.0,43.0,11,NaN,NaN,2015,12/27/2018 04:09:37 PM,NaN,NaN,NaN
1182205,11547618,HY385637,08/17/2015 05:15:00 AM,0000X W TERMINAL ST,0560,ASSAULT,SIMPLE,AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA,False,False,...,41.0,76.0,08A,NaN,NaN,2015,12/27/2018 04:09:37 PM,NaN,NaN,NaN
1182206,11547619,HY358622,07/28/2015 05:19:00 AM,0000X W TERMINAL ST,141C,WEAPONS VIOLATION,UNLAWFUL USE OTHER DANG WEAPON,AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA,False,False,...,41.0,76.0,15,NaN,NaN,2015,12/27/2018 04:09:37 PM,NaN,NaN,NaN
1182207,11549348,JB569160,01/21/2015 12:01:00 AM,055XX W EDMUNDS ST,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,OTHER,False,False,...,45.0,11.0,17,NaN,NaN,2015,12/29/2018 04:06:33 PM,NaN,NaN,NaN
1182208,11550357,JB571630,05/01/2015 12:50:00 PM,057XX S MARYLAND AVE,0420,BATTERY,AGGRAVATED:KNIFE/CUTTING INSTR,MEDICAL/DENTAL OFFICE,False,False,...,5.0,41.0,04B,NaN,NaN,2015,12/30/2018 04:17:20 PM,NaN,NaN,NaN
1182209,11551443,JB572685,03/11/2015 01:00:00 PM,018XX W FULLERTON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,32.0,7.0,11,NaN,NaN,2015,12/31/2018 04:16:57 PM,NaN,NaN,NaN
1182210,11551534,JB573013,10/05/2015 12:00:00 AM,022XX W 111TH ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,...,19.0,75.0,11,NaN,NaN,2015,12/31/2018 04:16:57 PM,NaN,NaN,NaN
1182211,11552281,JB572684,08/01/2015 12:01:00 AM,030XX W 54TH ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,False,True,...,14.0,63.0,17,NaN,NaN,2015,01/01/2019 04:14:44 PM,NaN,NaN,NaN
1182212,11552284,JB573657,12/17/2015 09:00:00 AM,016XX W BARRY AVE,1540,OBSCENITY,OBSCENE MATTER,RESIDENCE,True,False,...,32.0,6.0,17,NaN,NaN,2015,01/10/2019 03:10:14 PM,NaN,NaN,NaN
1182213,11552410,JB573790,01/01/2015 12:15:00 PM,046XX N MAGNOLIA AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,46.0,3.0,11,NaN,NaN,2015,01/01/2019 04:14:44 PM,NaN,NaN,NaN
1182214,10087085,HY275671,05/26/2015 02:38:00 PM,026XX W 71ST ST,041A,BATTERY,AGGRAVATED: HANDGUN,ALLEY,False,False,...,17.0,66.0,04B,1159832.0,1857465.0,2015,01/10/2019 03:10:14 PM,41.764592,-87.689735,"(41.764591925, -87.689734784)"
1182215,10203550,HY390345,05/04/2015 07:00:00 AM,002XX S RIVERSIDE PLZ,1121,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,FEDERAL BUILDING,True,False,...,42.0,28.0,10,1173472.0,1899214.0,2015,01/10/2019 03:10:14 PM,41.878864,-87.638503,"(41.878864086, -87.638503099)"
1182216,10335990,HY527146,12/06/2015 02:30:00 PM,020XX W CHICAGO AVE,0860,THEFT,RETAIL THEFT,SMALL RETAIL STORE,False,False,...,2.0,24.0,06,1162678.0,1905335.0,2015,01/10/2019 03:10:14 PM,41.895894,-87.677965,"(41.895893573, -87.677964841)"
1182217,11555622,JC102879,03/03/2015 09:00:00 AM,078XX S SOUTH SHORE DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,7.0,46.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN
1182218,11555653,JC102766,01/01/2015 08:00:00 PM,051XX S HARPER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,4.0,41.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN
1182219,11555673,JC102877,01/01/2015 08:45:00 AM,063XX S DR MARTIN LUTHER KING JR DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,20.0,69.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN
1182220,11559149,JC107821,01/27/2015 08:00:00 AM,099XX S PRINCETON AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,OTHER,False,False,...,9.0,49.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN
1182221,11559663,JC108485,07/31/2015 07:05:00 PM,118XX S VINCENNES AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,34.0,75.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN

In [11]:
Primary_types_df = Prim_types_df.loc[:, ["ID", "Date", "Primary_Type",
                                    "Description", "Community_Area", "Year"]]
Primary_types_df.head()

,ID,Date,Primary_Type,Description,Community_Area,Year
64596,10433096,01/01/2012 12:00:00 AM,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,19.0,2012
64618,10433124,01/01/2012 12:00:00 AM,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,19.0,2012
107497,11227247,01/01/2012 09:00:00 AM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,52.0,2012
229769,11228588,06/04/2012 12:00:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,70.0,2012
638569,11243251,08/07/2012 12:01:00 AM,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,70.0,2012

### The types of crimes that occurred in each community area

In [12]:
type_summary_df = (Primary_types_df.groupby(["Year", "Community_Area", "Primary_Type"], as_index=False)
                    ["ID"].agg(['mean', 'count'])
                  )
type_summary_df

                                                              mean  count
Year Community_Area Primary_Type
2012 0.0            CRIMINAL DAMAGE                   8.487665e+06      1
                    CRIMINAL TRESPASS                 8.514335e+06      1
                    DECEPTIVE PRACTICE                8.777926e+06      2
                    MOTOR VEHICLE THEFT               8.602602e+06      1
                    NARCOTICS                         8.655272e+06      1
     1.0            ARSON                             8.690391e+06      5
                    ASSAULT                           8.680855e+06    340
                    BATTERY                           8.696316e+06    991
                    BURGLARY                          8.690538e+06    212
                    CRIM SEXUAL ASSAULT               8.999773e+06     17
                    CRIMINAL DAMAGE                   8.680762e+06    500
                    CRIMINAL TRESPASS                 8.678304e+06    183
                    DECEPTIVE PRACTICE                8.797604e+06    159
                    GAMBLING                          8.687110e+06      6
                    HOMICIDE                          2.041367e+04      6
                    INTERFERENCE WITH PUBLIC OFFICER  8.721485e+06     33
                    INTIMIDATION                      8.870256e+06      4
                    KIDNAPPING                        8.517757e+06      4
                    LIQUOR LAW VIOLATION              8.690209e+06     21
                    MOTOR VEHICLE THEFT               8.703593e+06    142
                    NARCOTICS                         8.660354e+06    485
                    OBSCENITY                         8.928128e+06      1
                    OFFENSE INVOLVING CHILDREN        8.683095e+06     26
                    OTHER OFFENSE                     8.701500e+06    361
                    PROSTITUTION                      8.660061e+06     30
                    PUBLIC PEACE VIOLATION            8.701630e+06     48
                    ROBBERY                           8.708880e+06    202
                    SEX OFFENSE                       8.677758e+06     24
                    STALKING                          8.578858e+06      3
                    THEFT                             8.711840e+06   1049
...                                                            ...    ...
2015 76.0           OTHER OFFENSE                     1.010282e+07    233
                    PUBLIC PEACE VIOLATION            1.017492e+07     49
                    ROBBERY                           1.023985e+07     17
                    SEX OFFENSE                       1.028181e+07      6
                    STALKING                          1.017083e+07      1
                    THEFT                             1.015752e+07    517
                    WEAPONS VIOLATION                 1.030127e+07      7
     77.0           ARSON                             1.003084e+07      1
                    ASSAULT                           1.016246e+07    148
                    BATTERY                           1.015501e+07    374
                    BURGLARY                          1.016085e+07    109
                    CRIM SEXUAL ASSAULT               1.023762e+07     19
                    CRIMINAL DAMAGE                   1.014693e+07    218
                    CRIMINAL TRESPASS                 1.013289e+07     82
                    DECEPTIVE PRACTICE                1.023222e+07    196
                    GAMBLING                          1.014746e+07      1
                    HOMICIDE                          5.122390e+06      2
                    INTERFERENCE WITH PUBLIC OFFICER  1.005015e+07      2
                    INTIMIDATION                      1.041703e+07      1
                    LIQUOR LAW VIOLATION              1.018797e+07      3
                    MOTOR VEHICLE THEFT               1.020565e+07     95
                    NARCOTICS                         1.008522e+07     58
                    OFFENSE INVOLVING CHILDREN        1.014141e+07     10
                    OTHER OFFENSE                     1.015025e+07    155
                    PUBLIC PEACE VIOLATION            1.010924e+07     18
                    ROBBERY                           1.015371e+07     54
                    SEX OFFENSE                       1.021330e+07      9
                    STALKING                          1.005122e+07      2
                    THEFT                             1.014896e+07    684
                    WEAPONS VIOLATION                 1.012757e+07     16

[7319 rows x 2 columns]

In [13]:
type_summary_df = type_summary_df.reset_index()

type_summary_df

In [14]:
communityarea_path = communityarea_path.reset_index()

In [15]:
#you will need this code to merge the population data.
# Merge our newly combined dataframe with the 2015 dataframe
#Crime_Summary_df = pd.merge(type_summary_df, communityarea_path, how="inner", on='Community Area')
Crime_Summary_df = pd.merge(type_summary_df, communityarea_path, 
                            left_on='Community_Area', right_on='Community_Number', 
                            how='inner',
                            validate="m:1"
                           )
 

#***I NEED TO INCLUDE THE Community COLUMN FROM THE communityarea_path FILE

In [16]:
Crime_Summary_df.head()

,Year,Community_Area,Primary_Type,mean,count,Community,Community_Number,Public_Use_Area
0,2012,1.0,ARSON,8.690391e+06,5,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
1,2012,1.0,ASSAULT,8.680855e+06,340,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
2,2012,1.0,BATTERY,8.696316e+06,991,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
3,2012,1.0,BURGLARY,8.690538e+06,212,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
4,2012,1.0,CRIM SEXUAL ASSAULT,8.999773e+06,17,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."

In [19]:
population_path = "C:/Users/Maria/Documents/Colorama - Copy/MariaProject1/Images/Illinois_Population.csv"

# Import the csv file as a DataFrame
population_path = pd.read_csv(population_path, encoding="utf-8", index_col=0)

population_path.head()

,Name,Total Population,Public Use Microdata Area,Year
0,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",132179,104,2012
1,"Rock Island County PUMA, Illinois",147504,105,2012
2,"Henry, Mercer, Henderson, Warren, Hancock, McD...",180417,202,2012
3,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,300,2012
4,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,401,2012

In [20]:
#remove the damn spaces!
cols = population_path.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
population_path.columns = cols
population_path.head()

,Name,Total_Population,Public_Use_Microdata_Area,Year
0,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",132179,104,2012
1,"Rock Island County PUMA, Illinois",147504,105,2012
2,"Henry, Mercer, Henderson, Warren, Hancock, McD...",180417,202,2012
3,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,300,2012
4,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,401,2012

In [21]:
Population_df = pd.DataFrame(population_path)

In [22]:
Crime_Summary_df.Community.drop_duplicates().values

array(['Rogers Park', 'West Ridge', 'Uptown', 'Lincoln Square',
       'North Center', 'Lake View', 'Lincoln Park', 'Near North Side',
       'Edison Park', 'Norwood Park', 'Jefferson Park', 'Forest Glen',
       'North Park', 'Albany Park', 'Portage Park', 'Irving Park',
       'Dunning', 'Montclare', 'Belmont Cragin', 'Hermosa', 'Avondale',
       'Logan Square', 'Humboldt Park', 'West Town', 'Austin',
       'West Garfield Park', 'East Garfield Park', 'Near West Side',
       'North Lawndale', 'South Lawndale', 'Lower West Side', 'Loop',
       'Near South Side', 'Armour Square', 'Douglas', 'Oakland',
       'Fuller Park', 'Grand Boulevard', 'Kenwood', 'Washington Park',
       'Hyde Park', 'Woodlawn', 'South Shore', 'Chatham', 'Avalon Park',
       'South Chicago', 'Burnside', 'Calumet Heights', 'Roseland',
       'Pullman', 'South Deering', 'East Side', 'West Pullman',
       'Riverdale', 'Hegewisch', 'Garfield Ridge', 'Archer Heights',
       'Brighton Park', 'McKinley Park', 'Bridgeport', 'New City',
       'West Elsdon', 'Gage Park', 'Clearing', 'West Lawn',
       'Chicago Lawn', 'West Englewood', 'Englewood',
       'Greater Grand Crossing', 'Ashburn', 'Auburn Gresham', 'Beverly',
       'Washington Heights', 'Mount Greenwood', 'Morgan Park', "O'Hare",
       'Edgewater'], dtype=object)

In [23]:
Names = Population_df['Name'].values
communities = Crime_Summary_df.Community.drop_duplicates().values

community_names = {}
for community in communities:
    for names in Names :
        if community in names :
            community_names[community] = names

In [24]:
community_names

{'Rogers Park': 'Chicago City (North)--Edgewater, Uptown & Rogers Park PUMA; Illinois',
 'West Ridge': 'Chicago City (North)--West Ridge, Lincoln Square & North Center PUMA; Illinois',
 'Uptown': 'Chicago City (North)--Edgewater, Uptown & Rogers Park PUMA; Illinois',
 'Lincoln Square': 'Chicago City (North)--West Ridge, Lincoln Square & North Center PUMA; Illinois',
 'North Center': 'Chicago City (North)--West Ridge, Lincoln Square & North Center PUMA; Illinois',
 'Lake View': 'Chicago City (North)--Lake View & Lincoln Park PUMA, Illinois',
 'Lincoln Park': 'Chicago City (North)--Lake View & Lincoln Park PUMA, Illinois',
 'Near North Side': 'Chicago City (Central)--Near North Side, Loop & Near South Side PUMA; Illinois',
 'Edison Park': 'Cook County (North)--Maine, Norwood Park Townships & Chicago City--Edison Park PUMA; Illinois',
 'Norwood Park': "Cook County (West)--Leyden, Norwood Park (South) Townships & Chicago City--O'Hare PUMA; Illinois",
 'Jefferson Park': 'Chicago City (Northwest)--Portage Park, Dunning & Jefferson Park PUMA; Illinois',
 'Forest Glen': 'Chicago City (Northwest)--Irving Park, Albany Park, Forest Glen & North Park PUMA; Illinois',
 'North Park': 'Chicago City (Northwest)--Irving Park, Albany Park, Forest Glen & North Park PUMA; Illinois',
 'Albany Park': 'Chicago City (Northwest)--Irving Park, Albany Park, Forest Glen & North Park PUMA; Illinois',
 'Portage Park': 'Chicago City (Northwest)--Portage Park, Dunning & Jefferson Park PUMA; Illinois',
 'Irving Park': 'Chicago City (Northwest)--Irving Park, Albany Park, Forest Glen & North Park PUMA; Illinois',
 'Dunning': 'Chicago City (Northwest)--Portage Park, Dunning & Jefferson Park PUMA; Illinois',
 'Montclare': 'Chicago City (West)--Austin, Belmont Cragin & Montclare PUMA; Illinois',
 'Belmont Cragin': 'Chicago City (West)--Austin, Belmont Cragin & Montclare PUMA; Illinois',
 'Hermosa': 'Chicago City (Northwest)--Logan Square, Avondale & Hermosa PUMA; Illinois',
 'Avondale': 'Chicago City (Northwest)--Logan Square, Avondale & Hermosa PUMA; Illinois',
 'Logan Square': 'Chicago City (Northwest)--Logan Square, Avondale & Hermosa PUMA; Illinois',
 'Humboldt Park': 'Chicago City (West)--North & South Lawndale, Humboldt Park, East & West Garfield Park PUMA; Illinois',
 'West Town': 'Chicago City (West)--West Town, Near West Side & Lower West Side PUMA; Illinois',
 'Austin': 'Chicago City (West)--Austin, Belmont Cragin & Montclare PUMA; Illinois',
 'West Garfield Park': 'Chicago City (West)--North & South Lawndale, Humboldt Park, East & West Garfield Park PUMA; Illinois',
 'Near West Side': 'Chicago City (West)--West Town, Near West Side & Lower West Side PUMA; Illinois',
 'South Lawndale': 'Chicago City (West)--North & South Lawndale, Humboldt Park, East & West Garfield Park PUMA; Illinois',
 'Lower West Side': 'Chicago City (West)--West Town, Near West Side & Lower West Side PUMA; Illinois',
 'Loop': 'Chicago City (Central)--Near North Side, Loop & Near South Side PUMA; Illinois',
 'Near South Side': 'Chicago City (Central)--Near North Side, Loop & Near South Side PUMA; Illinois',
 'Douglas': 'Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois',
 'Grand Boulevard': 'Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois',
 'Hyde Park': 'Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois',
 'Woodlawn': 'Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois',
 'South Shore': 'Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois',
 'Chatham': 'Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois',
 'Avalon Park': 'Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois',
 'South Chicago': 'Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois',
 'Burnside': 'Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois',
 'Roseland': 'Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois',
 'Pullman': 'Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois',
 'South Deering': 'Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois',
 'East Side': 'Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois',
 'West Pullman': 'Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois',
 'Garfield Ridge': 'Chicago City (Southwest)--Gage Park, Garfield Ridge & West Lawn PUMA; Illinois',
 'Brighton Park': 'Chicago City (Southwest)--Brighton Park, New City, Bridgeport & McKinley Park PUMA; Illinois',
 'McKinley Park': 'Chicago City (Southwest)--Brighton Park, New City, Bridgeport & McKinley Park PUMA; Illinois',
 'Bridgeport': 'Chicago City (Southwest)--Brighton Park, New City, Bridgeport & McKinley Park PUMA; Illinois',
 'New City': 'Chicago City (Southwest)--Brighton Park, New City, Bridgeport & McKinley Park PUMA; Illinois',
 'Gage Park': 'Chicago City (Southwest)--Gage Park, Garfield Ridge & West Lawn PUMA; Illinois',
 'West Lawn': 'Chicago City (Southwest)--Gage Park, Garfield Ridge & West Lawn PUMA; Illinois',
 'Chicago Lawn': 'Chicago City (South)--Chicago Lawn, Englewood/West Englewood & Greater Grand Crossing PUMA; Illinois',
 'West Englewood': 'Chicago City (South)--Chicago Lawn, Englewood/West Englewood & Greater Grand Crossing PUMA; Illinois',
 'Englewood': 'Chicago City (South)--Chicago Lawn, Englewood/West Englewood & Greater Grand Crossing PUMA; Illinois',
 'Greater Grand Crossing': 'Chicago City (South)--Chicago Lawn, Englewood/West Englewood & Greater Grand Crossing PUMA; Illinois',
 'Ashburn': 'Chicago City (South)--Ashburn, Washington Heights, Morgan Park & Beverly PUMA; Illinois',
 'Auburn Gresham': 'Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois',
 'Beverly': 'Chicago City (South)--Ashburn, Washington Heights, Morgan Park & Beverly PUMA; Illinois',
 'Washington Heights': 'Chicago City (South)--Ashburn, Washington Heights, Morgan Park & Beverly PUMA; Illinois',
 'Morgan Park': 'Chicago City (South)--Ashburn, Washington Heights, Morgan Park & Beverly PUMA; Illinois',
 "O'Hare": "Cook County (West)--Leyden, Norwood Park (South) Townships & Chicago City--O'Hare PUMA; Illinois",
 'Edgewater': 'Chicago City (North)--Edgewater, Uptown & Rogers Park PUMA; Illinois'}

In [25]:
Crime_Summary_df.head(1)

,Year,Community_Area,Primary_Type,mean,count,Community,Community_Number,Public_Use_Area
0,2012,1.0,ARSON,8690390.8,5,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."

In [26]:
Full_crime_pop = (Crime_Summary_df.merge(Population_df, 
                                         left_on = 'Public_Use_Area', 
                                         right_on='Name')
                                  .drop(['Name', 'Year_y', 'Community_Area'], 
                                        axis=1)
                                  .rename({'Year_x' : 'Year',
                                          'Community_Number' : 'Community_id'},
                                          axis=1)
                 )

##### This file is combination of crime data, crime area and population

In [27]:
Full_crime_pop.head()

,Year,Primary_Type,mean,count,Community,Community_id,Public_Use_Area,Total_Population,Public_Use_Microdata_Area
0,2012,ARSON,8.690391e+06,5,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge...",167887,3501
1,2012,ARSON,8.690391e+06,5,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge...",167162,3501
2,2012,ARSON,8.690391e+06,5,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge...",164391,3501
3,2012,ARSON,8.690391e+06,5,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge...",164412,3501
4,2012,ASSAULT,8.680855e+06,340,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge...",167887,3501

#### Total population from 2012-2015 in each area

In [28]:
df.groupby('ticker')['adj_close'].plot(legend=True)

NameError: name 'df' is not defined

In [29]:
PrimaryTypes_Summ = (Full_crime_pop.groupby(["Year", "Public_Use_Area"])
                    ["Total_Population"].agg(['sum'])
                                        .rename({'sum': 'Total_pop'}, axis=1)
                    )
PrimaryTypes_Summ = PrimaryTypes_Summ.reset_index()
#PrimaryTypes_Summ = PrimaryTypes_Summ.set_index('Year')
PrimaryTypes_Summ

    Year                                    Public_Use_Area  Total_pop
0   2012  Chicago City (Central)--Near North Side, Loop ...   40927292
1   2012  Chicago City (North)--Edgewater, Uptown & Roge...   49125048
2   2012  Chicago City (North)--Lake View & Lincoln Park...   35897950
3   2012  Chicago City (North)--West Ridge, Lincoln Squa...   42867571
4   2012  Chicago City (Northwest)--Irving Park, Albany ...   54087904
5   2012  Chicago City (Northwest)--Logan Square, Avonda...   40706187
6   2012  Chicago City (Northwest)--Portage Park, Dunnin...   35865502
7   2012  Chicago City (South)--Ashburn, Washington Heig...   47534490
8   2012  Chicago City (South)--Auburn Gresham, Roseland...   65165590
9   2012  Chicago City (South)--Chicago Lawn, Englewood/...   60607878
10  2012  Chicago City (South)--South Chicago, Pullman, ...   64663560
11  2012  Chicago City (South)--South Shore, Hyde Park, ...   86403401
12  2012  Chicago City (Southwest)--Brighton Park, New C...   63034577
13  2012  Chicago City (Southwest)--Gage Park, Garfield ...   44728338
14  2012  Chicago City (West)--Austin, Belmont Cragin & ...   54608616
15  2012  Chicago City (West)--North & South Lawndale, H...   61156364
16  2012  Chicago City (West)--West Town, Near West Side...   53222550
17  2012  Cook County (North)--Maine, Norwood Park Towns...   29809200
18  2012  Cook County (West)--Leyden, Norwood Park (Sout...   11565950
19  2013  Chicago City (Central)--Near North Side, Loop ...   42004326
20  2013  Chicago City (North)--Edgewater, Uptown & Roge...   47797344
21  2013  Chicago City (North)--Lake View & Lincoln Park...   31981810
22  2013  Chicago City (North)--West Ridge, Lincoln Squa...   42280344
23  2013  Chicago City (Northwest)--Irving Park, Albany ...   51736256
24  2013  Chicago City (Northwest)--Logan Square, Avonda...   39590949
25  2013  Chicago City (Northwest)--Portage Park, Dunnin...   38542032
26  2013  Chicago City (South)--Ashburn, Washington Heig...   49118973
27  2013  Chicago City (South)--Auburn Gresham, Roseland...   66260810
28  2013  Chicago City (South)--Chicago Lawn, Englewood/...   60607878
29  2013  Chicago City (South)--South Chicago, Pullman, ...   64124697
..   ...                                                ...        ...
46  2014  Chicago City (South)--Auburn Gresham, Roseland...   66808420
47  2014  Chicago City (South)--Chicago Lawn, Englewood/...   63608268
48  2014  Chicago City (South)--South Chicago, Pullman, ...   64663560
49  2014  Chicago City (South)--South Shore, Hyde Park, ...   84225164
50  2014  Chicago City (Southwest)--Brighton Park, New C...   64334259
51  2014  Chicago City (Southwest)--Gage Park, Garfield ...   43519464
52  2014  Chicago City (West)--Austin, Belmont Cragin & ...   54608616
53  2014  Chicago City (West)--North & South Lawndale, H...   65984498
54  2014  Chicago City (West)--West Town, Near West Side...   53932184
55  2014  Cook County (North)--Maine, Norwood Park Towns...   29809200
56  2014  Cook County (West)--Leyden, Norwood Park (Sout...   12617400
57  2015  Chicago City (Central)--Near North Side, Loop ...   42004326
58  2015  Chicago City (North)--Edgewater, Uptown & Roge...   47133492
59  2015  Chicago City (North)--Lake View & Lincoln Park...   32634500
60  2015  Chicago City (North)--West Ridge, Lincoln Squa...   42867571
61  2015  Chicago City (Northwest)--Irving Park, Albany ...   52324168
62  2015  Chicago City (Northwest)--Logan Square, Avonda...   40148568
63  2015  Chicago City (Northwest)--Portage Park, Dunnin...   38542032
64  2015  Chicago City (South)--Ashburn, Washington Heig...   49647134
65  2015  Chicago City (South)--Auburn Gresham, Roseland...   67903640
66  2015  Chicago City (South)--Chicago Lawn, Englewood/...   64808424
67  2015  Chicago City (South)--South Chicago, Pullman, ...   63585834
68  2015  Chicago City (South)--South Shore, Hyde Park, ...   87129480
69  2015  Chicago City (Southwest)--Brighton Park, New C...   64984100
70  2015  Chicago City (Southwest)--Gage Park, Garfield ...   43519464
71  2015  Chicago City (West)--Austin, Belmont Cragin & ...   58400881
72  2015  Chicago City (West)--North & South Lawndale, H...   62765742
73  2015  Chicago City (West)--West Town, Near West Side...   53222550
74  2015  Cook County (North)--Maine, Norwood Park Towns...   29063970
75  2015  Cook County (West)--Leyden, Norwood Park (Sout...   11040225

[76 rows x 3 columns]

#### Total number of each type of crime committed in each area from 2012-2015

In [33]:
primeType_count = (Full_crime_pop.groupby(["Year","Primary_Type"])
                    ["count"].agg(['sum'])
                            .rename({'sum': 'Tot_count'}, axis=1)
                            .sort_values('Tot_count', ascending=False)
                  )

primeType_count = primeType_count.reset_index()
primeType_count.head()

   Year Primary_Type  Tot_count
0  2012        THEFT     277836
1  2013        THEFT     263888
2  2014        THEFT     226540
3  2015        THEFT     213172
4  2012      BATTERY     209192

### Total population from 2012-2015 in each area
### Total number of each type of crime committed in each area from 2012-2015

### Types of crime committed the most in each area from 2012-2015

In [36]:
committed_crimes = (primeType_count.groupby(['Primary_Type'], as_index=False)
                    ['Tot_count'].agg(['sum'])
                                .rename({'sum': 'sum_crimes'}, axis=1)
                                .sort_values('sum_crimes', ascending=False)
                   )
  
committed_crimes = committed_crimes.reset_index()
Top_Crimes = committed_crimes.head()
Top_Crimes = Top_Crimes.reset_index()
Top_Crimes.columns

Index(['index', 'Primary_Type', 'sum_crimes'], dtype='object')

In [38]:
#y_axis_Top_Crimes = Top_Crimes[Top_Crimes['Primary_Type']].count()
PrimTypesX_axis = Top_Crimes['Primary_Type']
PrimTypesY_axis = Top_Crimes['sum_crimes']

plt.bar(PrimTypesX_axis, PrimTypesY_axis, color='r', edgecolor='b', alpha=1.0, align="center")

# Give our chart some labels and a tile
plt.title("Types of crime committed the most from 2012-2015")
plt.xlabel("Primary Types")
plt.ylabel("Number of Crimes Committed")

# Save an image of the chart and print it to the screen
#plt.savefig("../Images/TotalCrimes.png")
plt.tight_layout()
plt.show()

In [ ]:
primeType_count.columns