### Null Hypothesis Test:

# Is crime related to population? 

**$H_{1}$:p>c**  _where (p) is the Probability of (c) Crime increase_

If crime IS related to population density
> Then the incidence of crime (Mean occurences) between 2012-2015 in the city of Chicago will be higher in areas where the population is higher

**$H_{0}$:p$\leq$c**

If crime IS NOT related to population density
>Then crimes occurences will be equal to or lower

This dataset reflects reported incidents of crime that occurred in the City of Chicago from 2012 to 2015

In [1]:
# Import Dependencies
import pandas as pd

In [87]:
# Make a reference to the Crimes_-_2001_to_present file path
crime_path = "C:/Users/Maria/Documents/Colorama - Copy/MariaProject1/Resources/Crimes_-_2001_to_present.csv"

# Import the csv file as a DataFrame
crime_df = pd.read_csv(crime_path, encoding="utf-8")
crime_df.head()

6784163

In [89]:
#crime_df[crime_df.Year == 2012]

In [ ]:
crime_df['Year'].dtype

In [3]:
year= [2012, 2013, 2014, 2015]

In [4]:
Prim_types_df = pd.DataFrame()

In [5]:
#Calucalate total number types of crimes committed 
#and a description of the crime in the area
#between 2012-2015

# Make a request for each of the years
for x in year:    
    Prim_types_df = pd.concat([Prim_types_df, crime_df[crime_df.Year == x]])
       

#Prim_types = crime_df.groupby("year")["SN"].count()

In [6]:
Prim_types_df.reset_index().drop('index', axis=1)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10433096,HZ170962,01/01/2012 12:00:00 AM,026XX N MC VICKER AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,True,False,...,29.0,19.0,17,NaN,NaN,2012,05/11/2016 03:48:18 PM,NaN,NaN,NaN
1,10433124,HZ170983,01/01/2012 12:00:00 AM,026XX N MC VICKER AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,True,False,...,29.0,19.0,17,NaN,NaN,2012,05/11/2016 03:48:18 PM,NaN,NaN,NaN
2,11227247,JB147078,01/01/2012 09:00:00 AM,105XX S INDIANAPOLIS AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,10.0,52.0,11,NaN,NaN,2012,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,11228588,JB149037,06/04/2012 12:00:00 PM,037XX W 85TH PL,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,18.0,70.0,11,NaN,NaN,2012,02/12/2018 03:49:14 PM,NaN,NaN,NaN
4,11243251,JB166394,08/07/2012 12:01:00 AM,037XX W HAYFORD ST,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,False,True,...,18.0,70.0,02,NaN,NaN,2012,10/15/2018 04:31:50 PM,NaN,NaN,NaN
5,11244255,JB169720,01/01/2012 12:01:00 AM,019XX N LA CROSSE AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,...,31.0,19.0,17,NaN,NaN,2012,03/02/2018 03:54:48 PM,NaN,NaN,NaN
6,11230974,JB152462,08/06/2012 12:01:00 AM,058XX S NORDICA AVE,0265,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER,RESIDENCE,False,False,...,23.0,56.0,02,NaN,NaN,2012,02/16/2018 03:51:14 PM,NaN,NaN,NaN
7,11248976,JB170105,01/01/2012 12:01:00 AM,087XX S ABERDEEN ST,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,...,21.0,71.0,20,NaN,NaN,2012,03/07/2018 04:15:21 PM,NaN,NaN,NaN
8,11250480,JB177844,01/01/2012 12:01:00 AM,066XX S MAY ST,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,17.0,68.0,17,NaN,NaN,2012,03/09/2018 03:55:02 PM,NaN,NaN,NaN
9,11251585,JB179410,01/10/2012 12:00:00 AM,048XX W MONROE ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,28.0,25.0,17,NaN,NaN,2012,03/10/2018 03:49:20 PM,NaN,NaN,NaN
10,10520780,HZ262685,04/13/2012 12:00:00 AM,064XX S DR MARTIN LUTHER KING JR DR,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,20.0,69.0,11,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN
11,10521090,HZ262624,08/12/2012 12:00:00 PM,027XX S CHRISTIANA AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,True,...,22.0,30.0,17,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN
12,10521199,HZ262885,02/13/2012 07:00:00 PM,070XX S WESTERN AVE,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,OTHER,False,False,...,17.0,66.0,11,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN
13,8601634,HV275211,05/07/2012 03:00:00 AM,064XX S CARPENTER ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,True,False,...,16.0,68.0,02,1170418.0,1862183.0,2012,03/19/2018 04:09:36 PM,41.777315,-87.650797,"(41.777314791, -87.65079698)"
14,11261558,JB192980,10/15/2012 03:00:00 PM,086XX S MANISTEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,7.0,46.0,11,NaN,NaN,2012,03/21/2018 04:01:31 PM,NaN,NaN,NaN
15,11262583,JB193146,02/14/2012 12:00:00 AM,029XX W 86TH PL,1753,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,RESIDENCE,False,False,...,18.0,70.0,02,NaN,NaN,2012,03/22/2018 03:53:18 PM,NaN,NaN,NaN
16,8653702,HV329283,06/11/2012 12:45:00 PM,104XX S WABASH AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,...,9.0,49.0,05,1178418.0,1835813.0,2012,05/07/2018 03:59:56 PM,41.704774,-87.622268,"(41.704774351, -87.622267986)"
17,11270240,JB203998,05/31/2012 10:00:00 AM,022XX W 71ST ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,17.0,66.0,11,NaN,NaN,2012,03/30/2018 03:53:14 PM,NaN,NaN,NaN
18,11276264,JB211490,01/01/2012 12:01:00 AM,023XX N HARDING AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,True,...,35.0,22.0,17,NaN,NaN,2012,12/19/2018 04:12:58 PM,NaN,NaN,NaN
19,8726878,HV402652,07/17/2012 09:00:00 AM,006XX N TROY ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,True,False,...,27.0,23.0,05,1155261.0,1904130.0,2012,04/08/2018 03:47:27 PM,41.892739,-87.705238,"(41.892739177, -87.705238368)"
20,11280039,JB217102,08/01/2012 02:00:00 PM,011XX W 19TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,25.0,31.0,11,NaN,NaN,2012,04/10/2018 03:52:52 PM,NaN,NaN,NaN
21,11217285,JB133790,07/02/2012 12:01:00 AM,021XX N KENNETH AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,APARTMENT,True,True,...,31.0,20.0,02,NaN,NaN,2012,04/12/2018 03:55:17 PM,NaN,NaN,NaN
22,11282179,JB218413,01/01/2012 12:01:00 AM,016XX N MAPLEWOOD AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,...,1.0,24.0,20,NaN,NaN,2012,04/12/2018 03:57:52 PM,NaN,NaN,NaN
23,10486358,HZ226158,06/01/2012 12:00:00 PM,017XX N SPRINGFIELD AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,...,30.0,20.0,02,NaN,NaN,2012,04/15/2016 09:20:50 AM,NaN,NaN,NaN
24,10486424,HZ226240,11/01/2012 09:00:00 AM,073XX N HARLEM AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,41.0,9.0,11,NaN,NaN,2012,04/15/2016 09:20:50 AM,NaN,NaN,NaN
25,11287123,JB225834,01/16/2012 10:55:00 AM,118XX S EMERALD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,34.0,53.0,11,NaN,NaN,2012,04/17/2018 04:02:28 PM,NaN,NaN,NaN
26,11178269,JA549196,09/27/2012 12:00:00 AM,053XX S RICHMOND ST,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,...,14.0,63.0,02,NaN,NaN,2012,04/18/2018 03:52:37 PM,NaN,NaN,NaN
27,10528383,HZ270974,07/09/2012 09:00:00 AM,071XX S SANGAMON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,17.0,68.0,11,NaN,NaN,2012,05/20/2016 03:54:40 PM,NaN,NaN,NaN
28,11290732,JB231241,03/01/2012 09:00:00 AM,020XX W FERDINAND ST,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,OTHER,False,False,...,26.0,24.0,26,NaN,NaN,2012,04/21/2018 03:49:32 PM,NaN,NaN,NaN
29,10541258,HZ286800,05/28/2012 09:00:00 AM,009XX E 84TH ST,1120,DECEPTIVE PRACTICE,FORGERY,APARTMENT,False,False,...,8.0,44.0,10,NaN,NaN,2012,05/31/2016 03:53:32 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182192,11537256,JB555972,08/01/2015 01:00:00 PM,006XX E 100TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,9.0,49.0,11,NaN,NaN,2015,12/17/2018 04:19:24 PM,NaN,NaN,NaN
1182193,11537400,JB556118,04/30/2015 09:00:00 AM,113XX S NORMAL AVE,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,RESIDENCE,False,False,...,34.0,49.0,11,NaN,NaN,2015,12/17/2018 04:19:24 PM,NaN,NaN,NaN
1182194,10225305,HY412267,09/05/2015 07:30:00 AM,002XX E ERIE ST,1755,OFFENSE INVOLVING CHILDREN,CHILD ABANDONMENT,HOSPITAL BUILDING/GROUNDS,False,False,...,42.0,8.0,20,1178056.0,1904830.0,2015,12/18/2018 04:13:04 PM,41.894172,-87.621501,"(41.894171604, -87.621500665)"
1182195,11538230,JB557189,01/01/2015 09:00:00 AM,036XX S DR MARTIN LUTHER KING JR DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,4.0,35.0,11,NaN,NaN,2015,12/18/2018 04:20:29 PM,NaN,NaN,NaN
1182196,11538628,JB557698,01/01/2015 12:01:00 AM,050XX S WASHTENAW AVE,1751,OFFENSE INVOLVING CHILDREN,CRIM SEX ABUSE BY FAM MEMBER,RESIDENCE,False,True,...,14.0,63.0,20,NaN,NaN,2015,12/18/2018 04:20:29 PM,NaN,NaN,NaN
1182197,10294672,HY482022,10/30/2015 10:00:00 AM,012XX S WABASH AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,3.0,33.0,06,1176963.0,1894850.0,2015,12/19/2018 04:12:58 PM,41.866811,-87.625817,"(41.866810739, -87.625817031)"
1182198,10435442,HZ173081,03/03/2015 12:01:00 AM,093XX S STEWART AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,True,...,21.0,49.0,20,NaN,NaN,2015,12/19/2018 04:12:58 PM,NaN,NaN,NaN
1182199,10270394,HY458244,10/11/2015 06:20:00 PM,065XX S ARTESIAN AVE,031A,ROBBERY,ARMED: HANDGUN,VEHICLE NON-COMMERCIAL,False,False,...,16.0,66.0,03,1161163.0,1861320.0,2015,12/20/2018 04:06:14 PM,41.775143,-87.684750,"(41.775143162, -87.684749731)"
1182200,10294023,HY481384,10/29/2015 06:10:00 PM,065XX S WESTERN AVE,0320,ROBBERY,STRONGARM - NO WEAPON,VEHICLE NON-COMMERCIAL,False,False,...,16.0,66.0,03,1161498.0,1861209.0,2015,12/20/2018 04:06:14 PM,41.774832,-87.683525,"(41.774831623, -87.683524733)"
1182201,11540338,JB559598,05/01/2015 12:00:00 AM,064XX S INGLESIDE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,20.0,42.0,11,NaN,NaN,2015,12/20/2018 04:12:36 PM,NaN,NaN,NaN
1182202,10314807,HY503818,11/16/2015 04:36:00 PM,073XX S BLACKSTONE AVE,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,...,8.0,43.0,04B,1187480.0,1856437.0,2015,12/21/2018 04:03:36 PM,41.761159,-87.588431,"(41.761158636, -87.588430933)"
1182203,10278541,HY466888,10/18/2015 02:57:00 PM,067XX S BELL AVE,031A,ROBBERY,ARMED: HANDGUN,ALLEY,False,False,...,16.0,66.0,03,1162561.0,1859886.0,2015,12/22/2018 04:03:39 PM,41.771179,-87.679665,"(41.771179021, -87.679664777)"
1182204,11547279,JB568152,08/01/2015 12:00:00 AM,026XX E 78TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,7.0,43.0,11,NaN,NaN,2015,12/27/2018 04:09:37 PM,NaN,NaN,NaN
1182205,11547618,HY385637,08/17/2015 05:15:00 AM,0000X W TERMINAL ST,0560,ASSAULT,SIMPLE,AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA,False,False,...,41.0,76.0,08A,NaN,NaN,2015,12/27/2018 04:09:37 PM,NaN,NaN,NaN
1182206,11547619,HY358622,07/28/2015 05:19:00 AM,0000X W TERMINAL ST,141C,WEAPONS VIOLATION,UNLAWFUL USE OTHER DANG WEAPON,AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA,False,False,...,41.0,76.0,15,NaN,NaN,2015,12/27/2018 04:09:37 PM,NaN,NaN,NaN
1182207,11549348,JB569160,01/21/2015 12:01:00 AM,055XX W EDMUNDS ST,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,OTHER,False,False,...,45.0,11.0,17,NaN,NaN,2015,12/29/2018 04:06:33 PM,NaN,NaN,NaN
1182208,11550357,JB571630,05/01/2015 12:50:00 PM,057XX S MARYLAND AVE,0420,BATTERY,AGGRAVATED:KNIFE/CUTTING INSTR,MEDICAL/DENTAL OFFICE,False,False,...,5.0,41.0,04B,NaN,NaN,2015,12/30/2018 04:17:20 PM,NaN,NaN,NaN
1182209,11551443,JB572685,03/11/2015 01:00:00 PM,018XX W FULLERTON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,32.0,7.0,11,NaN,NaN,2015,12/31/2018 04:16:57 PM,NaN,NaN,NaN
1182210,11551534,JB573013,10/05/2015 12:00:00 AM,022XX W 111TH ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,...,19.0,75.0,11,NaN,NaN,2015,12/31/2018 04:16:57 PM,NaN,NaN,NaN
1182211,11552281,JB572684,08/01/2015 12:01:00 AM,030XX W 54TH ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,False,True,...,14.0,63.0,17,NaN,NaN,2015,01/01/2019 04:14:44 PM,NaN,NaN,NaN
1182212,11552284,JB573657,12/17/2015 09:00:00 AM,016XX W BARRY AVE,1540,OBSCENITY,OBSCENE MATTER,RESIDENCE,True,False,...,32.0,6.0,17,NaN,NaN,2015,01/10/2019 03:10:14 PM,NaN,NaN,NaN
1182213,11552410,JB573790,01/01/2015 12:15:00 PM,046XX N MAGNOLIA AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,46.0,3.0,11,NaN,NaN,2015,01/01/2019 04:14:44 PM,NaN,NaN,NaN
1182214,10087085,HY275671,05/26/2015 02:38:00 PM,026XX W 71ST ST,041A,BATTERY,AGGRAVATED: HANDGUN,ALLEY,False,False,...,17.0,66.0,04B,1159832.0,1857465.0,2015,01/10/2019 03:10:14 PM,41.764592,-87.689735,"(41.764591925, -87.689734784)"
1182215,10203550,HY390345,05/04/2015 07:00:00 AM,002XX S RIVERSIDE PLZ,1121,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,FEDERAL BUILDING,True,False,...,42.0,28.0,10,1173472.0,1899214.0,2015,01/10/2019 03:10:14 PM,41.878864,-87.638503,"(41.878864086, -87.638503099)"
1182216,10335990,HY527146,12/06/2015 02:30:00 PM,020XX W CHICAGO AVE,0860,THEFT,RETAIL THEFT,SMALL RETAIL STORE,False,False,...,2.0,24.0,06,1162678.0,1905335.0,2015,01/10/2019 03:10:14 PM,41.895894,-87.677965,"(41.895893573, -87.677964841)"
1182217,11555622,JC102879,03/03/2015 09:00:00 AM,078XX S SOUTH SHORE DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,7.0,46.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN
1182218,11555653,JC102766,01/01/2015 08:00:00 PM,051XX S HARPER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,4.0,41.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN
1182219,11555673,JC102877,01/01/2015 08:45:00 AM,063XX S DR MARTIN LUTHER KING JR DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,20.0,69.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN
1182220,11559149,JC107821,01/27/2015 08:00:00 AM,099XX S PRINCETON AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,OTHER,False,False,...,9.0,49.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN
1182221,11559663,JC108485,07/31/2015 07:05:00 PM,118XX S VINCENNES AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,34.0,75.0,11,NaN,NaN,2015,01/10/2019 03:16:50 PM,NaN,NaN,NaN

In [178]:
Primary_types_df = Prim_types_df.loc[:, ["ID", "Date", "Primary Type",
                                    "Description", "Community Area", "Year"]]
Primary_types_df.head()

,ID,Date,Primary Type,Description,Community Area,Year
64596,10433096,01/01/2012 12:00:00 AM,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,19.0,2012
64618,10433124,01/01/2012 12:00:00 AM,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,19.0,2012
107497,11227247,01/01/2012 09:00:00 AM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,52.0,2012
229769,11228588,06/04/2012 12:00:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,70.0,2012
638569,11243251,08/07/2012 12:01:00 AM,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,70.0,2012

### The types of crimes that occurred in each community area

In [166]:
type_summary_df = (Primary_types_df.groupby(["Year", "Community Area", "Primary Type"])
                    ["ID"].agg(['mean', 'count'], as_index=False)
                  )
type_summary_df.head()

                                              mean  count
Year Community Area Primary Type
2012 0.0            CRIMINAL DAMAGE      8487665.0      1
                    CRIMINAL TRESPASS    8514335.0      1
                    DECEPTIVE PRACTICE   8777926.5      2
                    MOTOR VEHICLE THEFT  8602602.0      1
                    NARCOTICS            8655272.0      1

In [167]:
Columns=['Year','Community Area', 'Primary Type', 'mean', 'count']
#Columns=['Year'] .reset_index().drop('index', axis=1)
type_summary_df = type_summary_df.reindex(columns=Columns)
type_summary_df = type_summary_df.drop(['Community Area', 'Primary Type'], axis=1)

In [168]:
type_summary_df

                                                      Year          mean  \
Year Community Area Primary Type
2012 0.0            CRIMINAL DAMAGE                    NaN  8.487665e+06
                    CRIMINAL TRESPASS                  NaN  8.514335e+06
                    DECEPTIVE PRACTICE                 NaN  8.777926e+06
                    MOTOR VEHICLE THEFT                NaN  8.602602e+06
                    NARCOTICS                          NaN  8.655272e+06
     1.0            ARSON                              NaN  8.690391e+06
                    ASSAULT                            NaN  8.680855e+06
                    BATTERY                            NaN  8.696316e+06
                    BURGLARY                           NaN  8.690538e+06
                    CRIM SEXUAL ASSAULT                NaN  8.999773e+06
                    CRIMINAL DAMAGE                    NaN  8.680762e+06
                    CRIMINAL TRESPASS                  NaN  8.678304e+06
                    DECEPTIVE PRACTICE                 NaN  8.797604e+06
                    GAMBLING                           NaN  8.687110e+06
                    HOMICIDE                           NaN  2.041367e+04
                    INTERFERENCE WITH PUBLIC OFFICER   NaN  8.721485e+06
                    INTIMIDATION                       NaN  8.870256e+06
                    KIDNAPPING                         NaN  8.517757e+06
                    LIQUOR LAW VIOLATION               NaN  8.690209e+06
                    MOTOR VEHICLE THEFT                NaN  8.703593e+06
                    NARCOTICS                          NaN  8.660354e+06
                    OBSCENITY                          NaN  8.928128e+06
                    OFFENSE INVOLVING CHILDREN         NaN  8.683095e+06
                    OTHER OFFENSE                      NaN  8.701500e+06
                    PROSTITUTION                       NaN  8.660061e+06
                    PUBLIC PEACE VIOLATION             NaN  8.701630e+06
                    ROBBERY                            NaN  8.708880e+06
                    SEX OFFENSE                        NaN  8.677758e+06
                    STALKING                           NaN  8.578858e+06
                    THEFT                              NaN  8.711840e+06
...                                                    ...           ...
2015 76.0           OTHER OFFENSE                      NaN  1.010282e+07
                    PUBLIC PEACE VIOLATION             NaN  1.017492e+07
                    ROBBERY                            NaN  1.023985e+07
                    SEX OFFENSE                        NaN  1.028181e+07
                    STALKING                           NaN  1.017083e+07
                    THEFT                              NaN  1.015752e+07
                    WEAPONS VIOLATION                  NaN  1.030127e+07
     77.0           ARSON                              NaN  1.003084e+07
                    ASSAULT                            NaN  1.016246e+07
                    BATTERY                            NaN  1.015501e+07
                    BURGLARY                           NaN  1.016085e+07
                    CRIM SEXUAL ASSAULT                NaN  1.023762e+07
                    CRIMINAL DAMAGE                    NaN  1.014693e+07
                    CRIMINAL TRESPASS                  NaN  1.013289e+07
                    DECEPTIVE PRACTICE                 NaN  1.023222e+07
                    GAMBLING                           NaN  1.014746e+07
                    HOMICIDE                           NaN  5.122390e+06
                    INTERFERENCE WITH PUBLIC OFFICER   NaN  1.005015e+07
                    INTIMIDATION                       NaN  1.041703e+07
                    LIQUOR LAW VIOLATION               NaN  1.018797e+07
                    MOTOR VEHICLE THEFT                NaN  1.020565e+07
                    NARCOTICS                          NaN  1.008522e+07
                    OFFENSE INVOLVING CHILDREN         NaN  1.014141e+07
                    OTHER OFFENSE                      NaN  1.015025e+07
                    PUBLIC PEACE VIOLATION             NaN  1.010924e+07
                    ROBBERY                            NaN  1.015371e+07
                    SEX OFFENSE                        NaN  1.021330e+07
                    STALKING                           NaN  1.005122e+07
                    THEFT                              NaN  1.014896e+07
                    WEAPONS VIOLATION                  NaN  1.012757e+07

                                                      count
Year Community Area Primary Type
2012 0.0            CRIMINAL DAMAGE                       1
                    CRIMINAL TRESPASS                     1
                    DECEPTIVE PRACTICE                    2
                    MOTOR VEHICLE THEFT                   1
                    NARCOTICS                             1
     1.0            ARSON                                 5
                    ASSAULT                             340
                    BATTERY                             991
                    BURGLARY                            212
                    CRIM SEXUAL ASSAULT                  17
                    CRIMINAL DAMAGE                     500
                    CRIMINAL TRESPASS                   183
                    DECEPTIVE PRACTICE                  159
                    GAMBLING                              6
                    HOMICIDE                              6
                    INTERFERENCE WITH PUBLIC OFFICER     33
                    INTIMIDATION                          4
                    KIDNAPPING                            4
                    LIQUOR LAW VIOLATION                 21
                    MOTOR VEHICLE THEFT                 142
                    NARCOTICS                           485
                    OBSCENITY                             1
                    OFFENSE INVOLVING CHILDREN           26
                    OTHER OFFENSE                       361
                    PROSTITUTION                         30
                    PUBLIC PEACE VIOLATION               48
                    ROBBERY                             202
                    SEX OFFENSE                          24
                    STALKING                              3
                    THEFT                              1049
...                                                     ...
2015 76.0           OTHER OFFENSE                       233
                    PUBLIC PEACE VIOLATION               49
                    ROBBERY                              17
                    SEX OFFENSE                           6
                    STALKING                              1
                    THEFT                               517
                    WEAPONS VIOLATION                     7
     77.0           ARSON                                 1
                    ASSAULT                             148
                    BATTERY                             374
                    BURGLARY                            109
                    CRIM SEXUAL ASSAULT                  19
                    CRIMINAL DAMAGE                     218
                    CRIMINAL TRESPASS                    82
                    DECEPTIVE PRACTICE                  196
                    GAMBLING                              1
                    HOMICIDE                              2
                    INTERFERENCE WITH PUBLIC OFFICER      2
                    INTIMIDATION                          1
                    LIQUOR LAW VIOLATION                  3
                    MOTOR VEHICLE THEFT                  95
                    NARCOTICS                            58
                    OFFENSE INVOLVING CHILDREN           10
                    OTHER OFFENSE                       155
                    PUBLIC PEACE VIOLATION               18
                    ROBBERY                              54
                    SEX OFFENSE                           9
                    STALKING                              2
                    THEFT                               684
                    WEAPONS VIOLATION                    16

[7319 rows x 3 columns]

In [169]:
type_summary_df.columns

Index(['Year', 'mean', 'count'], dtype='object')

In [170]:
type_summary_df.keys()

Index(['Year', 'mean', 'count'], dtype='object')

In [171]:
#type_summary_df['Community Area'].dtypes

In [179]:
communityarea_path = "C:/Users/Maria/Documents/Colorama - Copy/MariaProject1/Resources/community_area_to_census.csv"

# Import the csv file as a DataFrame
communityarea_path = pd.read_csv(communityarea_path, encoding="utf-8", index_col=0)

communityarea_path.head()

,Community Number,Public Use Area
Community,,
Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
West Ridge,2,"Chicago City (North)--West Ridge, Lincoln Squa..."
Uptown,3,"Chicago City (North)--Edgewater, Uptown & Roge..."
Lincoln Square,4,"Chicago City (North)--West Ridge, Lincoln Squa..."
North Center,5,"Chicago City (North)--West Ridge, Lincoln Squa..."

In [173]:
#communityarea_path["Community \nNumber"].value_counts()

In [ ]:
communityarea_path.columns

In [ ]:
communityarea_path.keys()

In [35]:
communityarea_path["Community \nNumber"].dtype

dtype('float64')

In [36]:
#communityarea_path.rename(columns={"Community \nNumber": "Community Area"})

In [37]:
communityarea_path.keys()

Index(['Community', 'Community \nNumber', 'Public Use Area'], dtype='object')

In [ ]:
#pd.merge?

In [177]:
#you will need this code to merge the population data.
# Merge our newly combined dataframe with the 2015 dataframe
#Crime_Summary_df = pd.merge(type_summary_df, communityarea_path, how="inner", on='Community Area')
Crime_Summary_df = pd.merge(type_summary_df, communityarea_path, 
                            left_on='Year','Community Area', right_on='Year','Community \nNumber', 
                            how='inner',
                            validate="m:1"
                           )

SyntaxError: positional argument follows keyword argument (<ipython-input-177-81ca316f617d>, line 5)

In [122]:
Crime_Summary_df['Public Use Area'].dtype

dtype('O')

In [180]:
Crime_Summary_df.head()

,Year,mean,count,Community Number,Public Use Area
0,NaN,8.690391e+06,5,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
1,NaN,8.680855e+06,340,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
2,NaN,8.696316e+06,991,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
3,NaN,8.690538e+06,212,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
4,NaN,8.999773e+06,17,1,"Chicago City (North)--Edgewater, Uptown & Roge..."

In [181]:
population_path = "C:/Users/Maria/Documents/Colorama - Copy/MariaProject1/Resources/Illinois_Population.csv"

# Import the csv file as a DataFrame
population_path = pd.read_csv(population_path, encoding="utf-8", index_col=0)

population_path.head()

,Name,Total Population,Public Use Microdata Area,Year
0,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",132179,104,2012
1,"Rock Island County PUMA, Illinois",147504,105,2012
2,"Henry, Mercer, Henderson, Warren, Hancock, McD...",180417,202,2012
3,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,300,2012
4,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,401,2012

In [83]:
Population_df = pd.DataFrame(population_path)

In [182]:
Population_df.head()

,Name,Total Population,Public Use Microdata Area,Year
0,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",132179,104,2012
1,"Rock Island County PUMA, Illinois",147504,105,2012
2,"Henry, Mercer, Henderson, Warren, Hancock, McD...",180417,202,2012
3,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,300,2012
4,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,401,2012

In [159]:
Names = list(Population_df['Name'])

In [163]:
#Population_df[Population_df['Name'].str.contains(Community)]
Crime_Summary_df[Crime_Summary_df['Community'].str.contains(Names)]

TypeError: unhashable type: 'list'

In [162]:
#[Crime_Summary_df.loc[Crime_Summary_df['Community'].str.contains(x), 'Names'].iat[3] for x in Names]
#matched_categories = [df.loc[df['words'].str.contains(x), 'category'].iat[0] for x in A]

KeyError: 'the label [Names] is not in the [columns]'