In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
crime_file = pd.read_csv('crimes_-_2001_to_present.csv')

In [3]:
community_yr_sum = crime_file.groupby('Year')['ID'].count()

In [4]:
crime_file = pd.DataFrame(community_yr_sum)

In [5]:
comm_crime_file = crime_file.rename(columns = {'ID':'Total Crime'})

In [6]:
comm_crime_file.drop([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2016, 2017, 2018])

      Total Crime
Year
2012       335934
2013       307058
2014       275230
2015       263983

In [7]:
comm_crime_file.to_csv('total_crime_per_yr.csv')