In [1]:
import pandas as pd
import numpy as np

In [2]:
#csv files
community_areas = pd.read_csv("Community_area_list.csv")
illinois_population = pd.read_csv("Illinois_Population.csv")

In [3]:
illinois_population.head()

,Name,2012,2013,2014,2015
0,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,112391,111998,111521
1,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,143394,142662,141551
2,Champaign County--Champaign & Urbana Cities PU...,200931,202428,204214,205766
3,"Chicago City (Central)--Near North Side, Loop ...",127124,132871,136968,141554
4,"Chicago City (North)--Edgewater, Uptown & Roge...",167887,167162,164391,164412

In [4]:
#pull only Name column
public_use_list = illinois_population["Name"]
public_use_list = public_use_list.astype(str)
public_use_list.dtypes

dtype('O')

In [5]:
#replace ; with ,
public_use_2 = public_use_list.str.replace(';',",")

In [6]:
#replace -- with ,
public_use_3 = public_use_2.str.replace('--',",")

In [55]:
#replace & with ,
public_use_4 = public_use_3.str.replace('&',",")
len(public_use_4)

88

In [8]:
#search dataframe for community area names
#chicago areas double-check, remove extra values
community_areas = community_areas.dropna()
community_areas.count()

Community             77
Community \nNumber    77
dtype: int64

In [72]:
#make series
community_series = community_areas["Community"]
community_series = community_series.astype(str)
community_series

0                Rogers Park
1                 West Ridge
2                     Uptown
3             Lincoln Square
4               North Center
5                  Lake View
6               Lincoln Park
7            Near North Side
8                Edison Park
9               Norwood Park
10            Jefferson Park
11               Forest Glen
12                North Park
13               Albany Park
14              Portage Park
15               Irving Park
16                   Dunning
17                 Montclare
18            Belmont Cragin
19                   Hermosa
20                  Avondale
21              Logan Square
22             Humboldt Park
23                 West Town
24                    Austin
25        West Garfield Park
26        East Garfield Park
27            Near West Side
28            North Lawndale
29            South Lawndale
               ...
47           Calumet Heights
48                  Roseland
49                   Pullman
50             South Deering
51                 East Side
52              West Pullman
53                 Riverdale
54                 Hegewisch
55            Garfield Ridge
56            Archer Heights
57             Brighton Park
58             McKinley Park
59                Bridgeport
60                  New City
61               West Elsdon
62                 Gage Park
63                  Clearing
64                 West Lawn
65              Chicago Lawn
66            West Englewood
67                 Englewood
68    Greater Grand Crossing
69                   Ashburn
70            Auburn Gresham
71                   Beverly
72        Washington Heights
73           Mount Greenwood
74               Morgan Park
75                    O'Hare
76                 Edgewater
Name: Community, Length: 77, dtype: object

In [80]:
#make two empty series
community_match_1=[]
community_match_2=[]

In [81]:
#trying different loop
#same result as using public_use_list as the search index
for area in community_series:
    for index, row in illinois_population.iterrows():
        if area in row["Name"]:
            print(row["Name"])
            community_match_1.append(area)
            community_match_2.append(row["Name"])

Chicago City (North)--Edgewater, Uptown & Rogers Park PUMA; Illinois
Chicago City (North)--West Ridge, Lincoln Square & North Center PUMA; Illinois
Chicago City (North)--Edgewater, Uptown & Rogers Park PUMA; Illinois
Chicago City (North)--West Ridge, Lincoln Square & North Center PUMA; Illinois
Chicago City (North)--West Ridge, Lincoln Square & North Center PUMA; Illinois
Chicago City (North)--Lake View & Lincoln Park PUMA, Illinois
Chicago City (North)--Lake View & Lincoln Park PUMA, Illinois
Chicago City (Central)--Near North Side, Loop & Near South Side PUMA; Illinois
Cook County (North)--Maine, Norwood Park Townships & Chicago City--Edison Park PUMA; Illinois
Cook County (North)--Maine, Norwood Park Townships & Chicago City--Edison Park PUMA; Illinois
Cook County (West)--Leyden, Norwood Park (South) Townships & Chicago City--O'Hare PUMA; Illinois
Chicago City (Northwest)--Portage Park, Dunning & Jefferson Park PUMA; Illinois
Chicago City (Northwest)--Irving Park, Albany Park, Forest Glen & North Park PUMA; Illinois
Chicago City (Northwest)--Irving Park, Albany Park, Forest Glen & North Park PUMA; Illinois
Chicago City (Northwest)--Irving Park, Albany Park, Forest Glen & North Park PUMA; Illinois
Chicago City (Northwest)--Portage Park, Dunning & Jefferson Park PUMA; Illinois
Chicago City (Northwest)--Irving Park, Albany Park, Forest Glen & North Park PUMA; Illinois
Chicago City (Northwest)--Portage Park, Dunning & Jefferson Park PUMA; Illinois
Chicago City (West)--Austin, Belmont Cragin & Montclare PUMA; Illinois
Chicago City (West)--Austin, Belmont Cragin & Montclare PUMA; Illinois
Chicago City (Northwest)--Logan Square, Avondale & Hermosa PUMA; Illinois
Chicago City (Northwest)--Logan Square, Avondale & Hermosa PUMA; Illinois
Chicago City (Northwest)--Logan Square, Avondale & Hermosa PUMA; Illinois
Chicago City (West)--North & South Lawndale, Humboldt Park, East & West Garfield Park PUMA; Illinois
Chicago City (West)--West Town, Near West Side & Lower West Side PUMA; Illinois
Chicago City (West)--Austin, Belmont Cragin & Montclare PUMA; Illinois
Chicago City (West)--North & South Lawndale, Humboldt Park, East & West Garfield Park PUMA; Illinois
Chicago City (West)--West Town, Near West Side & Lower West Side PUMA; Illinois
Chicago City (West)--North & South Lawndale, Humboldt Park, East & West Garfield Park PUMA; Illinois
Chicago City (West)--West Town, Near West Side & Lower West Side PUMA; Illinois
Chicago City (Central)--Near North Side, Loop & Near South Side PUMA; Illinois
Chicago City (Central)--Near North Side, Loop & Near South Side PUMA; Illinois
Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois
Douglas, Edgar, Coles & Cumberland Counties PUMA; Illinois
Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois
Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois
Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois
Chicago City (South)--South Shore, Hyde Park, Woodlawn, Grand Boulevard & Douglas PUMA; Illinois
Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois
Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois
Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois
Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois
Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois
Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois
Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois
Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois
Chicago City (South)--South Chicago, Pullman, West Pullman, East Side & South Deering PUMA; Illinois
Chicago City (Southwest)--Gage Park, Garfield Ridge & West Lawn PUMA; Illinois
Chicago City (Southwest)--Brighton Park, New City, Bridgeport & McKinley Park PUMA; Illinois
Chicago City (Southwest)--Brighton Park, New City, Bridgeport & McKinley Park PUMA; Illinois
Chicago City (Southwest)--Brighton Park, New City, Bridgeport & McKinley Park PUMA; Illinois
Chicago City (Southwest)--Brighton Park, New City, Bridgeport & McKinley Park PUMA; Illinois
Chicago City (Southwest)--Gage Park, Garfield Ridge & West Lawn PUMA; Illinois
Chicago City (Southwest)--Gage Park, Garfield Ridge & West Lawn PUMA; Illinois
Chicago City (South)--Chicago Lawn, Englewood/West Englewood & Greater Grand Crossing PUMA; Illinois
Chicago City (South)--Chicago Lawn, Englewood/West Englewood & Greater Grand Crossing PUMA; Illinois
Chicago City (South)--Chicago Lawn, Englewood/West Englewood & Greater Grand Crossing PUMA; Illinois
Chicago City (South)--Chicago Lawn, Englewood/West Englewood & Greater Grand Crossing PUMA; Illinois
Chicago City (South)--Ashburn, Washington Heights, Morgan Park & Beverly PUMA; Illinois
Chicago City (South)--Auburn Gresham, Roseland, Chatham, Avalon Park & Burnside PUMA; Illinois
Chicago City (South)--Ashburn, Washington Heights, Morgan Park & Beverly PUMA; Illinois
Chicago City (South)--Ashburn, Washington Heights, Morgan Park & Beverly PUMA; Illinois
Chicago City (South)--Ashburn, Washington Heights, Morgan Park & Beverly PUMA; Illinois
Cook County (West)--Leyden, Norwood Park (South) Townships & Chicago City--O'Hare PUMA; Illinois
Chicago City (North)--Edgewater, Uptown & Rogers Park PUMA; Illinois

In [82]:
len(community_match_1)

65

In [84]:
community_match_df=pd.DataFrame({"Community":community_match_1, "Public Use Area":community_match_2})
community_match_df.head()

        Community                                    Public Use Area
0     Rogers Park  Chicago City (North)--Edgewater, Uptown & Roge...
1      West Ridge  Chicago City (North)--West Ridge, Lincoln Squa...
2          Uptown  Chicago City (North)--Edgewater, Uptown & Roge...
3  Lincoln Square  Chicago City (North)--West Ridge, Lincoln Squa...
4    North Center  Chicago City (North)--West Ridge, Lincoln Squa...

In [61]:
community_match.count()

0    20
1    20
dtype: int64

In [85]:
#combine found areas to community area list to see what we missed
community_area_1 = pd.merge(community_areas, community_match_df, on="Community", how="left")
community_area_1.keys()

Index(['Community', 'Community \nNumber', 'Public Use Area'], dtype='object')

In [88]:
community_area_1.head()

,Community,Community Number,Public Use Area
0,Rogers Park,1.0,"Chicago City (North)--Edgewater, Uptown & Roge..."
1,West Ridge,2.0,"Chicago City (North)--West Ridge, Lincoln Squa..."
2,Uptown,3.0,"Chicago City (North)--Edgewater, Uptown & Roge..."
3,Lincoln Square,4.0,"Chicago City (North)--West Ridge, Lincoln Squa..."
4,North Center,5.0,"Chicago City (North)--West Ridge, Lincoln Squa..."

In [90]:
#csv with failed areas
community_area_1.to_csv("community_area_to_census.csv")