In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
data_file = pd.read_csv('crimes_-_2001_to_present.csv')

In [3]:
data_reduce = data_file[['ID', 'Community Area', 'Year']]

In [4]:
data_reduce = data_reduce.loc[data_reduce.Year > 2011]

In [5]:
data_reduce = data_reduce.loc[data_reduce.Year < 2016]

In [6]:
data_reduce = data_reduce.rename(columns = {'ID': 'Crimes Reported'})

In [7]:
comm_area_data = data_reduce.pivot_table(index='Community Area', columns='Year', aggfunc='count')

In [8]:
comm_area_data.head(10)

               Crimes Reported
Year                      2012   2013  2014  2015
Community Area
0.0                          6      3     2     2
1.0                       4925   4433  3803  3590
2.0                       4030   3810  3413  3109
3.0                       4976   4289  3815  3662
4.0                       2338   2218  1898  1770
5.0                       1920   1723  1541  1395
6.0                       7696   6823  5698  5590
7.0                       5010   4480  4088  3764
8.0                      11288  10115  8992  9074
9.0                        323    299   243   258

In [10]:
comm_area_data.to_csv('total_crime_area.csv')