In [2]:
import pandas as pd

In [3]:
#get the data from the site
df=pd.read_json("https://data.cityofchicago.org/resource/crimes.json")

In [4]:
#look to see if all of the years are pulling in from the site
unique_yr=df["year"].unique()
unique_yr

array([2019], dtype=int64)

In [5]:
#nope, but lets see whats in there anywy
df.describe()

,beat,community_area,district,id,latitude,longitude,ward,x_coordinate,y_coordinate,year
count,1000.000000,1000.000000,1000.000000,1.000000e+03,972.000000,972.000000,1000.00000,9.720000e+02,9.720000e+02,1000.0
mean,1115.357000,37.799000,10.931000,1.153262e+07,41.837866,-87.668259,22.82000,1.165496e+06,1.884216e+06,2019.0
std,689.148852,21.336538,6.885176,5.154394e+05,0.086022,0.058897,13.81211,1.617978e+04,3.127999e+04,0.0
min,111.000000,1.000000,1.000000,2.436800e+04,41.650927,-87.905227,1.00000,1.100658e+06,1.816376e+06,2019.0
25%,532.750000,23.000000,5.000000,1.155483e+07,41.764682,-87.710827,9.00000,1.153784e+06,1.857642e+06,2019.0
50%,1017.500000,32.000000,10.000000,1.155542e+07,41.855197,-87.662313,23.00000,1.167293e+06,1.890548e+06,2019.0
75%,1633.000000,56.000000,16.000000,1.155590e+07,41.898196,-87.626200,34.00000,1.176926e+06,1.906133e+06,2019.0
max,2535.000000,77.000000,25.000000,1.156190e+07,42.018867,-87.532867,50.00000,1.202852e+06,1.950165e+06,2019.0

In [6]:
#oh, it looks like the last 1000 records are showing.  Lets keep looking at this stuff
df.dtypes

arrest                            bool
beat                             int64
block                           object
case_number                     object
community_area                   int64
date                    datetime64[ns]
description                     object
district                         int64
domestic                          bool
fbi_code                        object
id                               int64
iucr                            object
latitude                       float64
location                        object
location_description            object
longitude                      float64
primary_type                    object
updated_on                      object
ward                             int64
x_coordinate                   float64
y_coordinate                   float64
year                             int64
dtype: object

In [7]:
#more looking at whats in here
print(df.head())

   arrest  beat                   block case_number  community_area  \
0   False   411  080XX S DORCHESTER AVE    JC104184              45
1    True  2534      016XX N KARLOV AVE    JC103901              23
2   False   934         008XX W 52ND ST    JC103869              61
3    True  1031      026XX S KEELER AVE    JC103885              30
4    True   835     080XX S WESTERN AVE    JC103871              70

                 date                   description  district  domestic  \
0 2019-01-03 23:59:00                   TO PROPERTY         4     False
1 2019-01-03 23:35:00      UNLAWFUL POSS OF HANDGUN        25     False
2 2019-01-03 23:34:00  ATTEMPT: ARMED-OTHER FIREARM         9     False
3 2019-01-03 23:33:00     VEHICLE TITLE/REG OFFENSE        10     False
4 2019-01-03 23:30:00                   TO PROPERTY         8     False

  fbi_code  ...    latitude  \
0       14  ...   41.748878
1       15  ...   41.910662
2       03  ...   41.799767
3       26  ...   41.843612
4       14  ...   41.747091

                                            location  location_description  \
0  {'latitude': '41.748877977', 'human_address': ...             RESIDENCE
1  {'latitude': '41.910662034', 'human_address': ...                STREET
2  {'latitude': '41.799767262', 'human_address': ...                STREET
3  {'latitude': '41.843612132', 'human_address': ...                STREET
4  {'latitude': '41.747090733', 'human_address': ...                 OTHER

   longitude       primary_type           updated_on ward x_coordinate  \
0 -87.590563    CRIMINAL DAMAGE  2019-01-10T15:16:50    8    1186937.0
1 -87.728803  WEAPONS VIOLATION  2019-01-10T15:16:50   26    1148799.0
2 -87.645978            ROBBERY  2019-01-10T15:16:50   20    1171667.0
3 -87.729394      OTHER OFFENSE  2019-01-10T15:16:50   22    1148810.0
4 -87.682778    CRIMINAL DAMAGE  2019-01-10T15:16:50   18    1161778.0

   y_coordinate  year
0     1851957.0  2019
1     1910615.0  2019
2     1870375.0  2019
3     1886181.0  2019
4     1851102.0  2019

[5 rows x 22 columns]

In [25]:
#can I identify the columns that I want
#create short names to make stuff easier
# location description = ld
# primary type = pt
# description = d
# updated on = up
# year = yr
# community area = ca
df[["location_description", "primary_type", "description", "updated_on", "year", "community_area"]].head()

,location_description,primary_type,description,updated_on,year,community_area
0,RESIDENCE,CRIMINAL DAMAGE,TO PROPERTY,2019-01-10T15:16:50,2019,45
1,STREET,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,2019-01-10T15:16:50,2019,23
2,STREET,ROBBERY,ATTEMPT: ARMED-OTHER FIREARM,2019-01-10T15:16:50,2019,61
3,STREET,OTHER OFFENSE,VEHICLE TITLE/REG OFFENSE,2019-01-10T15:16:50,2019,30
4,OTHER,CRIMINAL DAMAGE,TO PROPERTY,2019-01-10T15:16:50,2019,70

In [9]:
#lets look at the uniue location descriptions
unique_ld=df["location_description"].unique()
unique_ld

array(['RESIDENCE', 'STREET', 'OTHER', 'VEHICLE NON-COMMERCIAL',
       'CTA BUS', 'POLICE FACILITY/VEH PARKING LOT', 'APARTMENT', 'ALLEY',
       'BANK', 'SIDEWALK', 'FACTORY/MANUFACTURING BUILDING',
       'PARK PROPERTY', 'SMALL RETAIL STORE', 'RESIDENCE PORCH/HALLWAY',
       'RESIDENTIAL YARD (FRONT/BACK)', 'CONVENIENCE STORE', 'CTA TRAIN',
       'ATM (AUTOMATIC TELLER MACHINE)', 'COMMERCIAL / BUSINESS OFFICE',
       'PARKING LOT/GARAGE(NON.RESID.)', 'RESTAURANT',
       'HIGHWAY/EXPRESSWAY', 'CTA PLATFORM', 'DRIVEWAY - RESIDENTIAL',
       'GAS STATION', 'VACANT LOT/LAND', 'SCHOOL, PUBLIC, GROUNDS',
       'NURSING HOME/RETIREMENT HOME', 'AIRCRAFT', 'DRUG STORE',
       'RESIDENCE-GARAGE', 'DEPARTMENT STORE', 'CTA STATION',
       'GROCERY FOOD STORE', 'BAR OR TAVERN', 'CONSTRUCTION SITE',
       'HOSPITAL BUILDING/GROUNDS', nan, 'CURRENCY EXCHANGE', 'AUTO',
       'FEDERAL BUILDING', 'GOVERNMENT BUILDING/PROPERTY',
       'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA',
       'CHA PARKING LOT/GROUNDS', 'DAY CARE CENTER', 'ATHLETIC CLUB',
       'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA',
       'CHURCH/SYNAGOGUE/PLACE OF WORSHIP', 'HOTEL/MOTEL',
       'AUTO / BOAT / RV DEALERSHIP', 'ABANDONED BUILDING', 'TAXICAB',
       'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
       'CTA GARAGE / OTHER PROPERTY', 'BOWLING ALLEY', 'CHA APARTMENT',
       'SPORTS ARENA/STADIUM', 'VEHICLE-COMMERCIAL',
       'CHA HALLWAY/STAIRWELL/ELEVATOR', 'WAREHOUSE',
       'SCHOOL, PRIVATE, BUILDING', 'COLLEGE/UNIVERSITY RESIDENCE HALL'],
      dtype=object)

In [10]:
#lets look at the unique primary types
unique_pt=df["primary_type"].unique()
unique_pt

array(['CRIMINAL DAMAGE', 'WEAPONS VIOLATION', 'ROBBERY', 'OTHER OFFENSE',
       'CRIMINAL TRESPASS', 'NARCOTICS', 'BATTERY', 'ASSAULT', 'THEFT',
       'DECEPTIVE PRACTICE', 'PUBLIC PEACE VIOLATION', 'BURGLARY',
       'PROSTITUTION', 'MOTOR VEHICLE THEFT',
       'INTERFERENCE WITH PUBLIC OFFICER', 'HOMICIDE',
       'OFFENSE INVOLVING CHILDREN', 'INTIMIDATION', 'SEX OFFENSE',
       'CRIM SEXUAL ASSAULT', 'CONCEALED CARRY LICENSE VIOLATION'],
      dtype=object)

In [17]:
#lets look at the unique descriptions
unique_d=df["description"].unique()
unique_d

array(['TO PROPERTY', 'UNLAWFUL POSS OF HANDGUN',
       'ATTEMPT: ARMED-OTHER FIREARM', 'VEHICLE TITLE/REG OFFENSE',
       'TO VEHICLE', 'POSS: COCAINE', 'AGG PO HANDS NO/MIN INJURY',
       'TO LAND', 'MANU/DELIVER:COCAINE', 'DOMESTIC BATTERY SIMPLE',
       'SIMPLE', 'POSS: CANNABIS 30GMS OR LESS', '$500 AND UNDER',
       'FORGERY', 'BOMB THREAT', 'FALSE/STOLEN/ALTERED TRP',
       'AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON', 'ARMED: HANDGUN',
       'TELEPHONE THREAT', 'POSS: HEROIN(WHITE)', 'FROM BUILDING',
       'OVER $500', 'FORCIBLE ENTRY',
       'FINANCIAL IDENTITY THEFT $300 AND UNDER', 'SOLICIT ON PUBLIC WAY',
       'AGGRAVATED: HANDGUN', 'RETAIL THEFT',
       'AGGRAVATED VEHICULAR HIJACKING', 'OTHER VEHICLE OFFENSE',
       'TO RESIDENCE', 'THEFT/RECOVERY: AUTOMOBILE',
       'TO CITY OF CHICAGO PROPERTY', 'VEHICULAR HIJACKING', 'AUTOMOBILE',
       'POSS: CANNABIS MORE THAN 30GMS', 'MANU/DELIVER: METHAMPHETAMINES',
       'AGGRAVATED DOMESTIC BATTERY: HANDS/FIST/FEET SERIOUS INJURY',
       'BOGUS CHECK', 'COUNTERFEITING DOCUMENT', 'STRONGARM - NO WEAPON',
       'HARASSMENT BY ELECTRONIC MEANS', 'POSS: CRACK',
       'GUN OFFENDER: ANNUAL REGISTRATION',
       'FINANCIAL IDENTITY THEFT OVER $ 300', 'OTHER VIOLATION',
       'POCKET-PICKING', 'VIOLATE ORDER OF PROTECTION',
       'SOLICIT NARCOTICS ON PUBLICWAY', 'FOUND SUSPECT NARCOTICS',
       'MANU/DELIVER: HEROIN (WHITE)', 'AGGRAVATED:KNIFE/CUTTING INSTR',
       'ARMED: OTHER DANGEROUS WEAPON', 'CREDIT CARD FRAUD',
       'UNLAWFUL ENTRY', 'VIOLENT OFFENDER: DUTY TO REGISTER',
       'RESIST/OBSTRUCT/DISARM OFFICER', 'ILLEGAL USE CASH CARD',
       'THEFT BY LESSEE,MOTOR VEH', 'FRAUD OR CONFIDENCE GAME',
       'ATTEMPT FORCIBLE ENTRY', 'MANU/DELIVER:BARBITUATES',
       'GUN OFFENDER: DUTY TO REPORT CHANGE OF INFORMATION',
       'RECKLESS FIREARM DISCHARGE', 'ATTEMPT THEFT',
       'PRO EMP HANDS NO/MIN INJURY', 'AGGRAVATED: OTHER DANG WEAPON',
       'FIRST DEGREE MURDER',
       'AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST', 'EMBEZZLEMENT',
       'HARASSMENT BY TELEPHONE', 'POSS: SYNTHETIC DRUGS',
       'OTHER OFFENSE', 'POSS: HEROIN(BRN/TAN)', 'PURSE-SNATCHING',
       'COUNTERFEIT CHECK', 'VIO BAIL BOND: DOM VIOLENCE',
       'LICENSE VIOLATION', 'RECKLESS CONDUCT',
       'AGG SEX ASSLT OF CHILD FAM MBR', 'CRIMINAL DEFACEMENT',
       'AGG PRO.EMP:KNIFE/CUTTING INST', 'ATT: AUTOMOBILE',
       'MANU/DELIVER: HEROIN(BRN/TAN)', 'ARMED:KNIFE/CUTTING INSTRUMENT',
       'ATTEMPT - FINANCIAL IDENTITY THEFT', 'INTIMIDATION',
       'ATTEMPT: ARMED-OTHER DANG WEAP', 'AGGRAVATED OF A SENIOR CITIZEN',
       'CRIMINAL SEXUAL ABUSE', 'AGGRAVATED PO: OTHER DANG WEAP',
       'POSS: BARBITUATES', 'ATTEMPT: ARMED-HANDGUN',
       'UNLAWFUL USE HANDGUN', 'POSSESSION OF DRUG EQUIPMENT',
       'VIOLATION GPS MONITORING DEVICE', 'POSS: AMPHETAMINES',
       'MANU/DEL:CANNABIS OVER 10 GMS', 'TO STATE SUP LAND',
       'OBSTRUCTING IDENTIFICATION', 'AGGRAVATED',
       'UNLAWFUL POSS OTHER FIREARM', 'THEFT OF LOST/MISLAID PROP',
       'ARMED WHILE UNDER THE INFLUENCE', 'MANU/DELIVER:CRACK',
       'THEFT OF LABOR/SERVICES', 'MANU/DEL:CANNABIS 10GM OR LESS',
       'PUBLIC INDECENCY', 'INTERFERENCE JUDICIAL PROCESS',
       'ATTEMPT: STRONGARM-NO WEAPON', 'HOME INVASION'], dtype=object)

In [18]:
#lets look at the unique updated on
unique_up=df["updated_on"].unique()
unique_up

array(['2019-01-10T15:16:50'], dtype=object)

In [19]:
#lets look at the unique year
unique_yr=df["year"].unique()
unique_yr

array([2019], dtype=int64)

In [20]:
#lets look at the unique community area 
unique_ca=df["community_area"].unique()
unique_ca

array([45, 23, 61, 30, 70, 46, 74, 25, 37, 73,  2, 48, 68, 24,  3, 67, 69,
       28, 17, 29, 56, 54, 49,  1, 71, 44, 26, 65, 77,  8, 15, 19, 75, 41,
        4, 14, 43, 21,  6, 40, 66, 57, 59,  7, 63, 20, 38, 22, 35, 32, 11,
        5, 18, 76, 42, 39, 52, 27, 33, 58, 62, 51, 12, 50, 53, 60, 13, 16,
       64, 31, 72, 10, 47,  9, 34, 55, 36], dtype=int64)

In [11]:
#of the 1000 records, whats the spread for location_description
count_ld=df["location_description"].value_counts()
count_ld

STREET                                            244
RESIDENCE                                         137
APARTMENT                                         125
SIDEWALK                                           65
RESIDENCE PORCH/HALLWAY                            37
OTHER                                              36
RESTAURANT                                         31
DEPARTMENT STORE                                   26
PARKING LOT/GARAGE(NON.RESID.)                     26
SMALL RETAIL STORE                                 25
GAS STATION                                        22
VEHICLE NON-COMMERCIAL                             20
SCHOOL, PUBLIC, BUILDING                           18
GROCERY FOOD STORE                                 16
CTA TRAIN                                          14
CONVENIENCE STORE                                  14
ALLEY                                              13
RESIDENCE-GARAGE                                   13
RESIDENTIAL YARD (FRONT/BACK)                      12
SCHOOL, PUBLIC, GROUNDS                             9
COMMERCIAL / BUSINESS OFFICE                        7
CTA STATION                                         6
HOSPITAL BUILDING/GROUNDS                           6
BAR OR TAVERN                                       5
DRUG STORE                                          5
HOTEL/MOTEL                                         5
GOVERNMENT BUILDING/PROPERTY                        5
CTA BUS                                             4
BANK                                                3
PARK PROPERTY                                       3
DRIVEWAY - RESIDENTIAL                              3
SCHOOL, PRIVATE, BUILDING                           3
VACANT LOT/LAND                                     3
NURSING HOME/RETIREMENT HOME                        3
CONSTRUCTION SITE                                   3
CTA GARAGE / OTHER PROPERTY                         2
CHA APARTMENT                                       2
POLICE FACILITY/VEH PARKING LOT                     2
CTA BUS STOP                                        2
CLEANING STORE                                      2
LIBRARY                                             2
OTHER RAILROAD PROP / TRAIN DEPOT                   2
CTA PLATFORM                                        2
PAWN SHOP                                           1
CHA HALLWAY/STAIRWELL/ELEVATOR                      1
AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA      1
ANIMAL HOSPITAL                                     1
AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA      1
CHA PARKING LOT/GROUNDS                             1
BOWLING ALLEY                                       1
COLLEGE/UNIVERSITY GROUNDS                          1
AIRPORT TERMINAL UPPER LEVEL - SECURE AREA          1
AIRPORT EXTERIOR - SECURE AREA                      1
MEDICAL/DENTAL OFFICE                               1
SPORTS ARENA/STADIUM                                1
VEHICLE-COMMERCIAL                                  1
FACTORY/MANUFACTURING BUILDING                      1
TAVERN/LIQUOR STORE                                 1
PORCH                                               1
Name: location_description, dtype: int64

In [21]:
#of the 1000 records, whats the spread for primary_type
count_pt=df["primary_type"].value_counts()
count_pt

THEFT                                258
BATTERY                              169
CRIMINAL DAMAGE                      104
ASSAULT                               74
NARCOTICS                             71
DECEPTIVE PRACTICE                    64
OTHER OFFENSE                         62
ROBBERY                               51
BURGLARY                              49
MOTOR VEHICLE THEFT                   31
CRIMINAL TRESPASS                     25
WEAPONS VIOLATION                     22
INTERFERENCE WITH PUBLIC OFFICER       4
PUBLIC PEACE VIOLATION                 3
PROSTITUTION                           3
SEX OFFENSE                            3
OFFENSE INVOLVING CHILDREN             2
HOMICIDE                               2
CRIM SEXUAL ASSAULT                    1
INTIMIDATION                           1
CONCEALED CARRY LICENSE VIOLATION      1
Name: primary_type, dtype: int64

In [22]:
#of the 1000 records, whats the spread for description
count_d=df["description"].value_counts()
count_d

SIMPLE                                                100
DOMESTIC BATTERY SIMPLE                                91
$500 AND UNDER                                         81
OVER $500                                              74
TO VEHICLE                                             58
TO PROPERTY                                            52
RETAIL THEFT                                           43
FROM BUILDING                                          42
FORCIBLE ENTRY                                         30
AUTOMOBILE                                             27
POSS: HEROIN(WHITE)                                    17
ARMED: HANDGUN                                         17
UNLAWFUL POSS OF HANDGUN                               16
AGGRAVATED: HANDGUN                                    16
CREDIT CARD FRAUD                                      16
UNLAWFUL ENTRY                                         15
TELEPHONE THREAT                                       14
STRONGARM - NO WEAPON                                  13
POCKET-PICKING                                         13
FINANCIAL IDENTITY THEFT OVER $ 300                    13
TO LAND                                                10
VEHICLE TITLE/REG OFFENSE                               9
FRAUD OR CONFIDENCE GAME                                9
AGGRAVATED:KNIFE/CUTTING INSTR                          9
POSS: CANNABIS MORE THAN 30GMS                          8
HARASSMENT BY ELECTRONIC MEANS                          7
AGGRAVATED: OTHER DANG WEAPON                           7
AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON          7
SOLICIT NARCOTICS ON PUBLICWAY                          7
POSS: CANNABIS 30GMS OR LESS                            7
                                                     ...
UNLAWFUL POSS OTHER FIREARM                             1
BOMB THREAT                                             1
ATTEMPT: STRONGARM-NO WEAPON                            1
AGGRAVATED OF A SENIOR CITIZEN                          1
ARMED WHILE UNDER THE INFLUENCE                         1
RECKLESS CONDUCT                                        1
AGGRAVATED PO: OTHER DANG WEAP                          1
THEFT OF LABOR/SERVICES                                 1
ATTEMPT: ARMED-OTHER FIREARM                            1
POSS: SYNTHETIC DRUGS                                   1
THEFT OF LOST/MISLAID PROP                              1
MANU/DELIVER: METHAMPHETAMINES                          1
HOME INVASION                                           1
AGG SEX ASSLT OF CHILD FAM MBR                          1
POSS: AMPHETAMINES                                      1
OTHER VIOLATION                                         1
POSS: HEROIN(BRN/TAN)                                   1
AGGRAVATED                                              1
BOGUS CHECK                                             1
GUN OFFENDER: DUTY TO REPORT CHANGE OF INFORMATION      1
TO STATE SUP LAND                                       1
MANU/DELIVER: HEROIN(BRN/TAN)                           1
COUNTERFEIT CHECK                                       1
INTIMIDATION                                            1
PUBLIC INDECENCY                                        1
MANU/DELIVER:BARBITUATES                                1
OBSTRUCTING IDENTIFICATION                              1
EMBEZZLEMENT                                            1
AGG PRO.EMP:KNIFE/CUTTING INST                          1
OTHER OFFENSE                                           1
Name: description, Length: 110, dtype: int64

In [23]:
#of the 1000 records, whats the spread for updated_on
count_up=df["updated_on"].value_counts()
count_up

2019-01-10T15:16:50    1000
Name: updated_on, dtype: int64

In [26]:
#of the 1000 records, whats the spread for year
count_yr=df["year"].value_counts()
count_yr

2019    1000
Name: year, dtype: int64

In [27]:
#of the 1000 records, whats the spread for community_area
count_ca=df["community_area"].value_counts()
count_ca

25    47
29    47
8     46
32    42
43    42
28    38
23    31
49    30
67    30
44    28
69    27
46    26
68    25
71    25
22    24
27    23
24    23
73    21
3     20
30    18
19    18
66    17
26    17
53    14
1     14
56    14
6     13
15    11
61    11
7     11
      ..
14     7
4      7
48     6
31     6
76     6
54     6
72     5
50     4
51     4
57     4
20     4
17     4
16     4
5      3
13     3
74     3
11     3
37     3
60     3
47     3
18     2
64     2
52     2
33     2
12     1
9      1
36     1
55     1
34     1
59     1
Name: community_area, Length: 77, dtype: int64

In [28]:
#on the site I downloaded the full dataset in csv.  I'm pulling that data in here
csvdf=pd.read_csv(r"\Users\nmitch\Desktop\Lessons\Crimes_-_2001_to_present.csv")

In [29]:
#now... what do I see 'notice the headers changed
csvdf.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,6.773682e+06,6.773682e+06,6.773635e+06,6.158828e+06,6.157653e+06,6.712965e+06,6.712965e+06,6.773682e+06,6.712965e+06,6.712965e+06
mean,6.245521e+06,1.191747e+03,1.130285e+01,2.267888e+01,3.757714e+01,1.164516e+06,1.885716e+06,2.008357e+03,4.184200e+01,-8.767181e+01
std,3.050983e+06,7.033765e+02,6.945591e+00,1.383195e+01,2.153173e+01,1.717072e+04,3.271135e+04,5.034063e+00,9.001337e-02,6.213696e-02
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.434680e+06,6.220000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152934e+06,1.859186e+06,2.004000e+03,4.176891e+01,-8.771387e+01
50%,6.232130e+06,1.111000e+03,1.000000e+01,2.200000e+01,3.200000e+01,1.165988e+06,1.890574e+06,2.008000e+03,4.185524e+01,-8.766619e+01
75%,8.875089e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176352e+06,1.909318e+06,2.012000e+03,4.190687e+01,-8.762837e+01
max,1.154679e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.018000e+03,4.202291e+01,-8.752453e+01

In [30]:
#some of the data types changed after pulling in csv too
csvdf.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [31]:
#now, how many years are in there
unique_cyr=csvdf["Year"].unique()
unique_cyr

array([2015, 2014, 2002, 2008, 2006, 2004, 2001, 2005, 2016, 2017, 2009,
       2012, 2013, 2018, 2003, 2011, 2007, 2010], dtype=int64)

In [32]:
#now what do I see in location desctiption
unique_cld=csvdf["Location Description"].unique()
unique_cld

array(['STREET', 'APARTMENT', 'SIDEWALK', 'RESIDENCE PORCH/HALLWAY',
       'PARKING LOT/GARAGE(NON.RESID.)', 'CTA GARAGE / OTHER PROPERTY',
       'DRIVEWAY - RESIDENTIAL', 'GAS STATION', 'OTHER',
       'GROCERY FOOD STORE', 'ALLEY', 'BAR OR TAVERN',
       'VEHICLE NON-COMMERCIAL', 'RESIDENCE',
       'FACTORY/MANUFACTURING BUILDING', 'CTA BUS STOP',
       'SCHOOL, PUBLIC, BUILDING', 'DRUG STORE',
       'COMMERCIAL / BUSINESS OFFICE', 'RESIDENCE-GARAGE',
       'SMALL RETAIL STORE', 'NURSING HOME/RETIREMENT HOME',
       'VACANT LOT/LAND', 'RESTAURANT', 'HOSPITAL BUILDING/GROUNDS',
       'DEPARTMENT STORE', 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP',
       'SCHOOL, PUBLIC, GROUNDS', 'HOTEL/MOTEL', 'MEDICAL/DENTAL OFFICE',
       'SCHOOL, PRIVATE, BUILDING', nan, 'CTA BUS',
       'RESIDENTIAL YARD (FRONT/BACK)', 'GOVERNMENT BUILDING/PROPERTY',
       'DAY CARE CENTER', 'AIRPORT/AIRCRAFT', 'CAR WASH', 'BANK',
       'TAVERN/LIQUOR STORE', 'COLLEGE/UNIVERSITY RESIDENCE HALL',
       'COLLEGE/UNIVERSITY GROUNDS', 'TAXICAB',
       'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA',
       'SCHOOL, PRIVATE, GROUNDS', 'OTHER RAILROAD PROP / TRAIN DEPOT',
       'BARBERSHOP', 'PARK PROPERTY', 'CTA TRACKS - RIGHT OF WAY',
       'ATM (AUTOMATIC TELLER MACHINE)', 'VEHICLE-COMMERCIAL',
       'ATHLETIC CLUB', 'CONVENIENCE STORE', 'CONSTRUCTION SITE',
       'CHA APARTMENT', 'CHA PARKING LOT/GROUNDS', 'CTA PLATFORM',
       'CLEANING STORE', 'OTHER COMMERCIAL TRANSPORTATION',
       'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA', 'CTA STATION',
       'CURRENCY EXCHANGE', 'WAREHOUSE', 'CTA TRAIN',
       'POLICE FACILITY/VEH PARKING LOT', 'AIRCRAFT',
       'AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA',
       'AIRPORT VENDING ESTABLISHMENT',
       'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
       'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA', 'HOUSE',
       'SPORTS ARENA/STADIUM', 'MOVIE HOUSE/THEATER',
       'AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA',
       'LAKEFRONT/WATERFRONT/RIVERBANK',
       'AIRPORT EXTERIOR - NON-SECURE AREA',
       'CHA HALLWAY/STAIRWELL/ELEVATOR', 'LIBRARY',
       'JAIL / LOCK-UP FACILITY',
       'AIRPORT BUILDING NON-TERMINAL - SECURE AREA',
       'GAS STATION DRIVE/PROP.', 'ABANDONED BUILDING', 'ANIMAL HOSPITAL',
       'APPLIANCE STORE', 'POOL ROOM', 'BOWLING ALLEY',
       'AIRPORT PARKING LOT', 'FIRE STATION', 'PAWN SHOP',
       'BOAT/WATERCRAFT', 'BRIDGE', 'PARKING LOT', 'AUTO', 'RETAIL STORE',
       'VEHICLE - DELIVERY TRUCK', 'AIRPORT TRANSPORTATION SYSTEM (ATS)',
       'CEMETARY', 'HIGHWAY/EXPRESSWAY', 'FEDERAL BUILDING',
       'SAVINGS AND LOAN', 'FOREST PRESERVE', 'GARAGE', 'PORCH',
       'NEWSSTAND', 'AIRPORT EXTERIOR - SECURE AREA', 'HALLWAY',
       'VEHICLE - OTHER RIDE SERVICE', 'YARD', 'CREDIT UNION',
       'VACANT LOT', 'COIN OPERATED MACHINE', 'BARBER SHOP/BEAUTY SALON',
       'CHA HALLWAY', 'GANGWAY', 'ROOMING HOUSE', 'SCHOOL YARD', 'TAVERN',
       'CTA PROPERTY', 'CHA PARKING LOT', 'STAIRWELL', 'HOTEL',
       'AUTO / BOAT / RV DEALERSHIP', 'DELIVERY TRUCK',
       'VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)',
       'DRIVEWAY', 'GARAGE/AUTO REPAIR', 'CHA STAIRWELL', 'BASEMENT',
       'TRUCK', 'COACH HOUSE', 'CLUB', 'LOADING DOCK', 'CHA ELEVATOR',
       'LAKE', 'RAILROAD PROPERTY', 'VESTIBULE', 'CHA PLAY LOT',
       'CHA GROUNDS', 'GOVERNMENT BUILDING', 'HOSPITAL', 'RIVER',
       'VEHICLE-COMMERCIAL - TROLLEY BUS',
       'VEHICLE-COMMERCIAL - ENTERTAINMENT/PARTY BUS', 'LAGOON',
       'DUMPSTER', 'HORSE STABLE', 'FARM', 'LIQUOR STORE', 'WOODED AREA',
       'ELEVATOR', 'COUNTY JAIL', 'YMCA', 'CHURCH PROPERTY', 'SEWER',
       'LIVERY STAND OFFICE', 'CHURCH', 'CHA BREEZEWAY', 'CHA LOBBY',
       'PRAIRIE', 'PUBLIC GRAMMAR SCHOOL', 'JUNK YARD/GARBAGE DUMP',
       'FUNERAL PARLOR', 'OFFICE', 'RIVER BANK', 'NURSING HOME',
       'CLEANERS/LAUNDROMAT', 'MOTEL', 'EXPRESSWAY EMBANKMENT',
       'CTA "L" PLATFORM', 'PUBLIC HIGH SCHOOL', 'TAXI CAB',
       'CTA "L" TRAIN', 'TRUCKING TERMINAL', 'FACTORY', 'TRAILER',
       'LAUNDRY ROOM', 'LIVERY AUTO', 'BANQUET HALL', 'POOLROOM',
       'KENNEL'], dtype=object)

In [33]:
#new location descrption counts
count_cld=csvdf["Location Description"].value_counts()
count_cld

STREET                            1776425
RESIDENCE                         1147021
APARTMENT                          700974
SIDEWALK                           667255
OTHER                              257530
PARKING LOT/GARAGE(NON.RESID.)     194449
ALLEY                              151319
SCHOOL, PUBLIC, BUILDING           142681
RESIDENCE-GARAGE                   131935
SMALL RETAIL STORE                 119963
RESIDENCE PORCH/HALLWAY            118500
VEHICLE NON-COMMERCIAL             108735
RESTAURANT                         106343
GROCERY FOOD STORE                  87650
DEPARTMENT STORE                    84195
GAS STATION                         72345
RESIDENTIAL YARD (FRONT/BACK)       69905
CHA PARKING LOT/GROUNDS             55498
PARK PROPERTY                       52404
COMMERCIAL / BUSINESS OFFICE        49294
CTA PLATFORM                        36386
BAR OR TAVERN                       36196
CHA APARTMENT                       36082
DRUG STORE                          30693
SCHOOL, PUBLIC, GROUNDS             29100
HOTEL/MOTEL                         28153
BANK                                27555
CHA HALLWAY/STAIRWELL/ELEVATOR      24843
CTA TRAIN                           24248
VACANT LOT/LAND                     23974
                                   ...
TRAILER                                 3
SEWER                                   3
LAKE                                    3
HORSE STABLE                            3
YMCA                                    3
CTA "L" TRAIN                           2
CHA ELEVATOR                            2
FARM                                    2
COUNTY JAIL                             2
GOVERNMENT BUILDING                     2
PRAIRIE                                 2
ROOMING HOUSE                           2
CHURCH PROPERTY                         2
LAUNDRY ROOM                            2
FACTORY                                 2
LIVERY STAND OFFICE                     2
PUBLIC HIGH SCHOOL                      2
EXPRESSWAY EMBANKMENT                   1
FUNERAL PARLOR                          1
LAGOON                                  1
TRUCKING TERMINAL                       1
KENNEL                                  1
BANQUET HALL                            1
POOLROOM                                1
LOADING DOCK                            1
ELEVATOR                                1
JUNK YARD/GARBAGE DUMP                  1
PUBLIC GRAMMAR SCHOOL                   1
LIVERY AUTO                             1
CLEANERS/LAUNDROMAT                     1
Name: Location Description, Length: 179, dtype: int64

In [34]:
#alright, all that looks good.  I'll pull out the headers that I want
clncsv=csvdf[["Year", "Primary Type", "Description", "Updated On", "Location Description", "Community Area"]]
clncsv.head()

,Year,Primary Type,Description,Updated On,Location Description,Community Area
0,2015,BATTERY,AGGRAVATED: HANDGUN,02/10/2018 03:50:01 PM,STREET,25.0
1,2015,OTHER OFFENSE,PAROLE VIOLATION,02/10/2018 03:50:01 PM,STREET,67.0
2,2015,BATTERY,DOMESTIC BATTERY SIMPLE,02/10/2018 03:50:01 PM,APARTMENT,39.0
3,2015,BATTERY,SIMPLE,02/10/2018 03:50:01 PM,APARTMENT,40.0
4,2015,ROBBERY,ARMED: HANDGUN,02/10/2018 03:50:01 PM,SIDEWALK,25.0

In [36]:
#lets export the clean data
clncsv.to_csv(r"\Users\nmitch\Desktop\Lessons\CleanCrimeData.csv", encoding="utf-8", index=False, header=True)