In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import mode

In [2]:
#on the site I downloaded the full dataset in csv.  I'm pulling that data in here
data=pd.read_csv(r"\Users\n8gre\Desktop\Project1CrimeData\Crimes_-_2001_to_present.csv")

In [3]:
#how many stuff in there
data.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,6.784163e+06,6.784163e+06,6.784116e+06,6.169309e+06,6.168134e+06,6.723123e+06,6.723123e+06,6.784163e+06,6.723123e+06,6.723123e+06
mean,6.253695e+06,1.191681e+03,1.130278e+01,2.268058e+01,3.757462e+01,1.164517e+06,1.885718e+06,2.008372e+03,4.184201e+01,-8.767180e+01
std,3.055737e+06,7.033678e+02,6.945603e+00,1.383230e+01,2.153163e+01,1.716948e+04,3.270917e+04,5.044947e+00,9.000730e-02,6.213299e-02
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.437888e+06,6.220000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152935e+06,1.859186e+06,2.004000e+03,4.176890e+01,-8.771386e+01
50%,6.240325e+06,1.111000e+03,1.000000e+01,2.200000e+01,3.200000e+01,1.165990e+06,1.890580e+06,2.008000e+03,4.185527e+01,-8.766619e+01
75%,8.886980e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176352e+06,1.909318e+06,2.012000e+03,4.190687e+01,-8.762836e+01
max,1.156228e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.019000e+03,4.202291e+01,-8.752453e+01

In [4]:
#get rid of the unnecessary years
data=data.drop(data[data.Year>2015].index)

In [5]:
#k lets do the bottom half
data=data.drop(data[data.Year<2012].index)

In [6]:
#now what do I see
data.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,1.182222e+06,1.182222e+06,1.182222e+06,1.182208e+06,1.182192e+06,1.173372e+06,1.173372e+06,1.182222e+06,1.173372e+06,1.173372e+06
mean,9.372914e+06,1.151152e+03,1.126003e+01,2.282872e+01,3.758649e+01,1.164438e+06,1.885431e+06,2.013395e+03,4.184122e+01,-8.767210e+01
std,6.778432e+05,6.918663e+02,6.905624e+00,1.377215e+01,2.145500e+01,1.733056e+04,3.260313e+04,1.119796e+00,8.971730e-02,6.274969e-02
min,2.022400e+04,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.012000e+03,3.661945e+01,-9.168657e+01
25%,8.891858e+06,6.130000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152514e+06,1.858647e+06,2.012000e+03,4.176747e+01,-8.771541e+01
50%,9.369664e+06,1.024000e+03,1.000000e+01,2.300000e+01,3.200000e+01,1.166001e+06,1.891024e+06,2.013000e+03,4.185656e+01,-8.766619e+01
75%,9.867584e+06,1.711000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176364e+06,1.908694e+06,2.014000e+03,4.190526e+01,-8.762811e+01
max,1.156157e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951573e+06,2.015000e+03,4.202271e+01,-8.752453e+01

In [7]:
#alright, all that looks good.  I'll pull out the headers that I want
data=data[["ID", "Year", "Location Description", "Community Area"]]
data.head()

         ID  Year Location Description  Community Area
0  10000092  2015               STREET            25.0
1  10000094  2015               STREET            67.0
2  10000095  2015            APARTMENT            39.0
3  10000096  2015            APARTMENT            40.0
4  10000097  2015             SIDEWALK            25.0

In [8]:
#remove the damn spaces!
cols = data.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
data.columns = cols
data.head()

         ID  Year Location_Description  Community_Area
0  10000092  2015               STREET            25.0
1  10000094  2015               STREET            67.0
2  10000095  2015            APARTMENT            39.0
3  10000096  2015            APARTMENT            40.0
4  10000097  2015             SIDEWALK            25.0

In [9]:
#jackies pop data - changed public area to Name to match the walk
csvpop=pd.read_csv(r"\Users\n8gre\Desktop\Project1CrimeData\Illinois_Population2.csv", index_col=0)
csvpop.head()

,Name,Total Population,Public Use Microdata Area,Year
0,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",132179,104,2012
1,"Rock Island County PUMA, Illinois",147504,105,2012
2,"Henry, Mercer, Henderson, Warren, Hancock, McD...",180417,202,2012
3,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,300,2012
4,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,401,2012

In [10]:
#remove the damn spaces!
cols = csvpop.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
csvpop.columns = cols
csvpop.head()

,Name,Total_Population,Public_Use_Microdata_Area,Year
0,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",132179,104,2012
1,"Rock Island County PUMA, Illinois",147504,105,2012
2,"Henry, Mercer, Henderson, Warren, Hancock, McD...",180417,202,2012
3,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,300,2012
4,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,401,2012

In [11]:
#crime to pop walk  Change Community number to community area and change population usage area to Name
csvwalk=pd.read_csv(r"\Users\n8gre\Desktop\Project1CrimeData\walk.csv")
csvwalk.head()

,Unnamed: 0,Community,Community Area,Name
0,0,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
1,1,West Ridge,2,"Chicago City (North)--West Ridge, Lincoln Squa..."
2,2,Uptown,3,"Chicago City (North)--Edgewater, Uptown & Roge..."
3,3,Lincoln Square,4,"Chicago City (North)--West Ridge, Lincoln Squa..."
4,4,North Center,5,"Chicago City (North)--West Ridge, Lincoln Squa..."

In [12]:
#remove the damn spaces!
cols = csvwalk.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
csvwalk.columns = cols
csvwalk.head()

,Unnamed:_0,Community,Community_Area,Name
0,0,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
1,1,West Ridge,2,"Chicago City (North)--West Ridge, Lincoln Squa..."
2,2,Uptown,3,"Chicago City (North)--Edgewater, Uptown & Roge..."
3,3,Lincoln Square,4,"Chicago City (North)--West Ridge, Lincoln Squa..."
4,4,North Center,5,"Chicago City (North)--West Ridge, Lincoln Squa..."

In [13]:
#bring the crime data together with the walk
data=data.merge(csvwalk, on=("Community_Area"))
data.head()

,ID,Year,Location_Description,Community_Area,Unnamed:_0,Community,Name
0,10000092,2015,STREET,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."
1,10000097,2015,SIDEWALK,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."
2,10000111,2015,GAS STATION,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."
3,10000123,2015,VEHICLE NON-COMMERCIAL,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."
4,10000169,2015,APARTMENT,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."

In [16]:
#bring the new crimedata with walk together with pop
data=pd.merge(data, csvpop, on=("Name", "Year"))
data.head()

,ID,Year,Location_Description,Community_Area,Unnamed:_0,Community,Name,Total_Population_x,Public_Use_Microdata_Area_x,Total_Population_y,Public_Use_Microdata_Area_y
0,10000092,2015,STREET,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521,189826,3521
1,10000097,2015,SIDEWALK,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521,189826,3521
2,10000111,2015,GAS STATION,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521,189826,3521
3,10000123,2015,VEHICLE NON-COMMERCIAL,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521,189826,3521
4,10000169,2015,APARTMENT,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521,189826,3521

In [33]:
data.reset_index()

,Year,Location_Description,mean,count
0,2012,ABANDONED BUILDING,165596.143777,932
1,2012,AIRCRAFT,134146.043478,46
2,2012,AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA,137656.040000,100
3,2012,AIRPORT BUILDING NON-TERMINAL - SECURE AREA,135154.226415,53
4,2012,AIRPORT EXTERIOR - NON-SECURE AREA,135757.693182,88
5,2012,AIRPORT EXTERIOR - SECURE AREA,133693.840000,25
6,2012,AIRPORT PARKING LOT,139439.142857,63
7,2012,AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA,132677.892617,149
8,2012,AIRPORT TERMINAL LOWER LEVEL - SECURE AREA,137201.945946,74
9,2012,AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA,130954.000000,7
10,2012,AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA,133432.473684,76
11,2012,AIRPORT TERMINAL UPPER LEVEL - SECURE AREA,132419.378973,409
12,2012,AIRPORT TRANSPORTATION SYSTEM (ATS),132510.727273,11
13,2012,AIRPORT VENDING ESTABLISHMENT,133693.840000,75
14,2012,AIRPORT/AIRCRAFT,134792.137931,116
15,2012,ALLEY,162815.730680,6884
16,2012,ANIMAL HOSPITAL,161554.890909,55
17,2012,APARTMENT,163540.130548,72862
18,2012,APPLIANCE STORE,156784.679012,81
19,2012,ATHLETIC CLUB,153572.133226,623
20,2012,ATM (AUTOMATIC TELLER MACHINE),149566.580268,598
21,2012,AUTO,163123.882353,51
22,2012,BANK,152015.128125,1280
23,2012,BAR OR TAVERN,149453.688785,2140
24,2012,BARBER SHOP/BEAUTY SALON,174815.000000,1
25,2012,BARBERSHOP,159491.638596,285
26,2012,BASEMENT,141288.000000,1
27,2012,BOAT/WATERCRAFT,147750.812500,32
28,2012,BOWLING ALLEY,136962.655172,29
29,2012,BRIDGE,152999.458333,24
...,...,...,...,...
444,2015,POLICE FACILITY/VEH PARKING LOT,156275.923387,496
445,2015,POOL ROOM,148256.890909,55
446,2015,PORCH,174909.769231,13
447,2015,RESIDENCE,154597.375748,73858
448,2015,RESIDENCE PORCH/HALLWAY,162297.951555,4149
449,2015,RESIDENCE-GARAGE,154535.271614,4083
450,2015,RESIDENTIAL YARD (FRONT/BACK),158816.292551,4806
451,2015,RESTAURANT,154224.909342,4710
452,2015,SAVINGS AND LOAN,154839.909091,11
453,2015,"SCHOOL, PRIVATE, BUILDING",156638.618661,493
454,2015,"SCHOOL, PRIVATE, GROUNDS",156411.302158,139
455,2015,"SCHOOL, PUBLIC, BUILDING",157273.968907,3377
456,2015,"SCHOOL, PUBLIC, GROUNDS",159485.059669,905
457,2015,SIDEWALK,165736.347909,48024
458,2015,SMALL RETAIL STORE,156158.748939,5182
459,2015,SPORTS ARENA/STADIUM,159793.498258,287
460,2015,STAIRWELL,184128.000000,1
461,2015,STREET,160673.529765,107810
462,2015,TAVERN,161657.000000,2
463,2015,TAVERN/LIQUOR STORE,158155.037778,450
464,2015,TAXICAB,154915.157216,388
465,2015,TRUCK,146174.000000,1
466,2015,VACANT LOT/LAND,162711.321739,920
467,2015,VEHICLE - DELIVERY TRUCK,165360.200000,20
468,2015,VEHICLE - OTHER RIDE SERVICE,160714.278689,61
469,2015,"VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER...",181760.000000,1
470,2015,VEHICLE NON-COMMERCIAL,161632.051783,4094
471,2015,VEHICLE-COMMERCIAL,159853.324201,219
472,2015,WAREHOUSE,164950.293269,208
473,2015,YARD,148610.250000,12

In [34]:
#alright, all that looks good.  I'll pull out the headers that I want
data=data[["ID", "Year", "Location_Description", "Community_Area", "Total_Population"]]
data.shape

KeyError: "['ID' 'Year' 'Location_Description' 'Community_Area' 'Total_Population'] not in index"

In [17]:
LD=['OTHER', 'SIDEWALK', 'APARTMENT', 'RESIDENCE', 'STREET']

In [18]:
for x in LD:    
    data = pd.concat([data, data[data.Location_Description == x]])

In [31]:
data = (data.groupby(["Year", "Location_Description"], as_index=False)
                    ["Total_Population_x"].agg(['mean', 'count'])
                  )
data

KeyError: 'Column not found: Total_Population_x'

In [ ]:
#y_axis_Top_Crimes = Top_Crimes[Top_Crimes['Primary_Type']].count()
PrimX = data['Location_Description']
SecX = data['Total_Population']
PrimY = data['Year']

plt.bar(Primx, PrimY, color='r', edgecolor='b', alpha=1.0, align="center")

# Give our chart some labels and a tile
plt.title("Locations of crime committed the most from 2012-2015")
plt.xlabel("Locations")
plt.ylabel("Year")

# Save an image of the chart and print it to the screen
#plt.savefig("../Images/TotalCrimes.png")
plt.tight_layout()
plt.show()