In [1]:
import pandas as pd

In [2]:
#get the data from the site
df=pd.read_json("https://data.cityofchicago.org/resource/crimes.json")

In [3]:
#look to see if all of the years are pulling in from the site
unique_yr=df["year"].unique()
unique_yr

array([2019], dtype=int64)

In [4]:
#nope, but lets see whats in there anywy
df.describe()

,beat,community_area,district,id,latitude,longitude,ward,x_coordinate,y_coordinate,year
count,1000.000000,1000.000000,1000.000000,1.000000e+03,972.000000,972.000000,1000.00000,9.720000e+02,9.720000e+02,1000.0
mean,1115.357000,37.799000,10.931000,1.153262e+07,41.837866,-87.668259,22.82000,1.165496e+06,1.884216e+06,2019.0
std,689.148852,21.336538,6.885176,5.154394e+05,0.086022,0.058897,13.81211,1.617978e+04,3.127999e+04,0.0
min,111.000000,1.000000,1.000000,2.436800e+04,41.650927,-87.905227,1.00000,1.100658e+06,1.816376e+06,2019.0
25%,532.750000,23.000000,5.000000,1.155483e+07,41.764682,-87.710827,9.00000,1.153784e+06,1.857642e+06,2019.0
50%,1017.500000,32.000000,10.000000,1.155542e+07,41.855197,-87.662313,23.00000,1.167293e+06,1.890548e+06,2019.0
75%,1633.000000,56.000000,16.000000,1.155590e+07,41.898196,-87.626200,34.00000,1.176926e+06,1.906133e+06,2019.0
max,2535.000000,77.000000,25.000000,1.156190e+07,42.018867,-87.532867,50.00000,1.202852e+06,1.950165e+06,2019.0

In [5]:
#oh, it looks like the last 1000 records are showing.  Lets keep looking at this stuff
df.dtypes

arrest                            bool
beat                             int64
block                           object
case_number                     object
community_area                   int64
date                    datetime64[ns]
description                     object
district                         int64
domestic                          bool
fbi_code                        object
id                               int64
iucr                            object
latitude                       float64
location                        object
location_description            object
longitude                      float64
primary_type                    object
updated_on                      object
ward                             int64
x_coordinate                   float64
y_coordinate                   float64
year                             int64
dtype: object

In [6]:
#more looking at whats in here
print(df.head())

   arrest  beat                   block case_number  community_area  \
0   False   411  080XX S DORCHESTER AVE    JC104184              45
1    True  2534      016XX N KARLOV AVE    JC103901              23
2   False   934         008XX W 52ND ST    JC103869              61
3    True  1031      026XX S KEELER AVE    JC103885              30
4    True   835     080XX S WESTERN AVE    JC103871              70

                 date                   description  district  domestic  \
0 2019-01-03 23:59:00                   TO PROPERTY         4     False
1 2019-01-03 23:35:00      UNLAWFUL POSS OF HANDGUN        25     False
2 2019-01-03 23:34:00  ATTEMPT: ARMED-OTHER FIREARM         9     False
3 2019-01-03 23:33:00     VEHICLE TITLE/REG OFFENSE        10     False
4 2019-01-03 23:30:00                   TO PROPERTY         8     False

  fbi_code  ...    latitude  \
0       14  ...   41.748878
1       15  ...   41.910662
2       03  ...   41.799767
3       26  ...   41.843612
4       14  ...   41.747091

                                            location  location_description  \
0  {'latitude': '41.748877977', 'human_address': ...             RESIDENCE
1  {'latitude': '41.910662034', 'human_address': ...                STREET
2  {'latitude': '41.799767262', 'human_address': ...                STREET
3  {'latitude': '41.843612132', 'human_address': ...                STREET
4  {'latitude': '41.747090733', 'human_address': ...                 OTHER

   longitude       primary_type           updated_on ward x_coordinate  \
0 -87.590563    CRIMINAL DAMAGE  2019-01-10T15:16:50    8    1186937.0
1 -87.728803  WEAPONS VIOLATION  2019-01-10T15:16:50   26    1148799.0
2 -87.645978            ROBBERY  2019-01-10T15:16:50   20    1171667.0
3 -87.729394      OTHER OFFENSE  2019-01-10T15:16:50   22    1148810.0
4 -87.682778    CRIMINAL DAMAGE  2019-01-10T15:16:50   18    1161778.0

   y_coordinate  year
0     1851957.0  2019
1     1910615.0  2019
2     1870375.0  2019
3     1886181.0  2019
4     1851102.0  2019

[5 rows x 22 columns]

In [32]:
#can I identify the columns that I want
#create short names to make stuff easier
# Arrest = ar
# location description = ld
# primary type = pt
# description = d
# updated on = up
# year = yr
# community area = ca
df[["arrest", "location_description", "primary_type", "description", "updated_on", "year", "community_area"]].head()

,arrest,location_description,primary_type,description,updated_on,year,community_area
0,False,RESIDENCE,CRIMINAL DAMAGE,TO PROPERTY,2019-01-10T15:16:50,2019,45
1,True,STREET,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,2019-01-10T15:16:50,2019,23
2,False,STREET,ROBBERY,ATTEMPT: ARMED-OTHER FIREARM,2019-01-10T15:16:50,2019,61
3,True,STREET,OTHER OFFENSE,VEHICLE TITLE/REG OFFENSE,2019-01-10T15:16:50,2019,30
4,True,OTHER,CRIMINAL DAMAGE,TO PROPERTY,2019-01-10T15:16:50,2019,70

In [8]:
#lets look at the uniue location descriptions
unique_ld=df["location_description"].unique()
unique_ld

array(['RESIDENCE', 'STREET', 'OTHER', 'VEHICLE NON-COMMERCIAL',
       'CTA BUS', 'POLICE FACILITY/VEH PARKING LOT', 'APARTMENT', 'ALLEY',
       'BANK', 'SIDEWALK', 'FACTORY/MANUFACTURING BUILDING',
       'PARK PROPERTY', 'SMALL RETAIL STORE', 'RESIDENCE PORCH/HALLWAY',
       'RESIDENTIAL YARD (FRONT/BACK)', 'CONVENIENCE STORE', 'CTA TRAIN',
       'ATM (AUTOMATIC TELLER MACHINE)', 'COMMERCIAL / BUSINESS OFFICE',
       'PARKING LOT/GARAGE(NON.RESID.)', 'RESTAURANT',
       'HIGHWAY/EXPRESSWAY', 'CTA PLATFORM', 'DRIVEWAY - RESIDENTIAL',
       'GAS STATION', 'VACANT LOT/LAND', 'SCHOOL, PUBLIC, GROUNDS',
       'NURSING HOME/RETIREMENT HOME', 'AIRCRAFT', 'DRUG STORE',
       'RESIDENCE-GARAGE', 'DEPARTMENT STORE', 'CTA STATION',
       'GROCERY FOOD STORE', 'BAR OR TAVERN', 'CONSTRUCTION SITE',
       'HOSPITAL BUILDING/GROUNDS', nan, 'CURRENCY EXCHANGE', 'AUTO',
       'FEDERAL BUILDING', 'GOVERNMENT BUILDING/PROPERTY',
       'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA',
       'CHA PARKING LOT/GROUNDS', 'DAY CARE CENTER', 'ATHLETIC CLUB',
       'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA',
       'CHURCH/SYNAGOGUE/PLACE OF WORSHIP', 'HOTEL/MOTEL',
       'AUTO / BOAT / RV DEALERSHIP', 'ABANDONED BUILDING', 'TAXICAB',
       'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
       'CTA GARAGE / OTHER PROPERTY', 'BOWLING ALLEY', 'CHA APARTMENT',
       'SPORTS ARENA/STADIUM', 'VEHICLE-COMMERCIAL',
       'CHA HALLWAY/STAIRWELL/ELEVATOR', 'WAREHOUSE',
       'SCHOOL, PRIVATE, BUILDING', 'COLLEGE/UNIVERSITY RESIDENCE HALL'],
      dtype=object)

In [33]:
#lets look at the uniue location descriptions
unique_ar=df["arrest"].unique()
unique_ar

array([False,  True])

In [9]:
#lets look at the unique primary types
unique_pt=df["primary_type"].unique()
unique_pt

array(['CRIMINAL DAMAGE', 'WEAPONS VIOLATION', 'ROBBERY', 'OTHER OFFENSE',
       'CRIMINAL TRESPASS', 'NARCOTICS', 'BATTERY', 'ASSAULT', 'THEFT',
       'DECEPTIVE PRACTICE', 'PUBLIC PEACE VIOLATION', 'BURGLARY',
       'PROSTITUTION', 'MOTOR VEHICLE THEFT',
       'INTERFERENCE WITH PUBLIC OFFICER', 'HOMICIDE',
       'OFFENSE INVOLVING CHILDREN', 'INTIMIDATION', 'SEX OFFENSE',
       'CRIM SEXUAL ASSAULT', 'CONCEALED CARRY LICENSE VIOLATION'],
      dtype=object)

In [10]:
#lets look at the unique descriptions
unique_d=df["description"].unique()
unique_d

array(['TO PROPERTY', 'UNLAWFUL POSS OF HANDGUN',
       'ATTEMPT: ARMED-OTHER FIREARM', 'VEHICLE TITLE/REG OFFENSE',
       'TO VEHICLE', 'POSS: COCAINE', 'AGG PO HANDS NO/MIN INJURY',
       'TO LAND', 'MANU/DELIVER:COCAINE', 'DOMESTIC BATTERY SIMPLE',
       'SIMPLE', 'POSS: CANNABIS 30GMS OR LESS', '$500 AND UNDER',
       'FORGERY', 'BOMB THREAT', 'FALSE/STOLEN/ALTERED TRP',
       'AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON', 'ARMED: HANDGUN',
       'TELEPHONE THREAT', 'POSS: HEROIN(WHITE)', 'FROM BUILDING',
       'OVER $500', 'FORCIBLE ENTRY',
       'FINANCIAL IDENTITY THEFT $300 AND UNDER', 'SOLICIT ON PUBLIC WAY',
       'AGGRAVATED: HANDGUN', 'RETAIL THEFT',
       'AGGRAVATED VEHICULAR HIJACKING', 'OTHER VEHICLE OFFENSE',
       'TO RESIDENCE', 'THEFT/RECOVERY: AUTOMOBILE',
       'TO CITY OF CHICAGO PROPERTY', 'VEHICULAR HIJACKING', 'AUTOMOBILE',
       'POSS: CANNABIS MORE THAN 30GMS', 'MANU/DELIVER: METHAMPHETAMINES',
       'AGGRAVATED DOMESTIC BATTERY: HANDS/FIST/FEET SERIOUS INJURY',
       'BOGUS CHECK', 'COUNTERFEITING DOCUMENT', 'STRONGARM - NO WEAPON',
       'HARASSMENT BY ELECTRONIC MEANS', 'POSS: CRACK',
       'GUN OFFENDER: ANNUAL REGISTRATION',
       'FINANCIAL IDENTITY THEFT OVER $ 300', 'OTHER VIOLATION',
       'POCKET-PICKING', 'VIOLATE ORDER OF PROTECTION',
       'SOLICIT NARCOTICS ON PUBLICWAY', 'FOUND SUSPECT NARCOTICS',
       'MANU/DELIVER: HEROIN (WHITE)', 'AGGRAVATED:KNIFE/CUTTING INSTR',
       'ARMED: OTHER DANGEROUS WEAPON', 'CREDIT CARD FRAUD',
       'UNLAWFUL ENTRY', 'VIOLENT OFFENDER: DUTY TO REGISTER',
       'RESIST/OBSTRUCT/DISARM OFFICER', 'ILLEGAL USE CASH CARD',
       'THEFT BY LESSEE,MOTOR VEH', 'FRAUD OR CONFIDENCE GAME',
       'ATTEMPT FORCIBLE ENTRY', 'MANU/DELIVER:BARBITUATES',
       'GUN OFFENDER: DUTY TO REPORT CHANGE OF INFORMATION',
       'RECKLESS FIREARM DISCHARGE', 'ATTEMPT THEFT',
       'PRO EMP HANDS NO/MIN INJURY', 'AGGRAVATED: OTHER DANG WEAPON',
       'FIRST DEGREE MURDER',
       'AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST', 'EMBEZZLEMENT',
       'HARASSMENT BY TELEPHONE', 'POSS: SYNTHETIC DRUGS',
       'OTHER OFFENSE', 'POSS: HEROIN(BRN/TAN)', 'PURSE-SNATCHING',
       'COUNTERFEIT CHECK', 'VIO BAIL BOND: DOM VIOLENCE',
       'LICENSE VIOLATION', 'RECKLESS CONDUCT',
       'AGG SEX ASSLT OF CHILD FAM MBR', 'CRIMINAL DEFACEMENT',
       'AGG PRO.EMP:KNIFE/CUTTING INST', 'ATT: AUTOMOBILE',
       'MANU/DELIVER: HEROIN(BRN/TAN)', 'ARMED:KNIFE/CUTTING INSTRUMENT',
       'ATTEMPT - FINANCIAL IDENTITY THEFT', 'INTIMIDATION',
       'ATTEMPT: ARMED-OTHER DANG WEAP', 'AGGRAVATED OF A SENIOR CITIZEN',
       'CRIMINAL SEXUAL ABUSE', 'AGGRAVATED PO: OTHER DANG WEAP',
       'POSS: BARBITUATES', 'ATTEMPT: ARMED-HANDGUN',
       'UNLAWFUL USE HANDGUN', 'POSSESSION OF DRUG EQUIPMENT',
       'VIOLATION GPS MONITORING DEVICE', 'POSS: AMPHETAMINES',
       'MANU/DEL:CANNABIS OVER 10 GMS', 'TO STATE SUP LAND',
       'OBSTRUCTING IDENTIFICATION', 'AGGRAVATED',
       'UNLAWFUL POSS OTHER FIREARM', 'THEFT OF LOST/MISLAID PROP',
       'ARMED WHILE UNDER THE INFLUENCE', 'MANU/DELIVER:CRACK',
       'THEFT OF LABOR/SERVICES', 'MANU/DEL:CANNABIS 10GM OR LESS',
       'PUBLIC INDECENCY', 'INTERFERENCE JUDICIAL PROCESS',
       'ATTEMPT: STRONGARM-NO WEAPON', 'HOME INVASION'], dtype=object)

In [11]:
#lets look at the unique updated on
unique_up=df["updated_on"].unique()
unique_up

array(['2019-01-10T15:16:50'], dtype=object)

In [12]:
#lets look at the unique year
unique_yr=df["year"].unique()
unique_yr

array([2019], dtype=int64)

In [13]:
#lets look at the unique community area 
unique_ca=df["community_area"].unique()
unique_ca

array([45, 23, 61, 30, 70, 46, 74, 25, 37, 73,  2, 48, 68, 24,  3, 67, 69,
       28, 17, 29, 56, 54, 49,  1, 71, 44, 26, 65, 77,  8, 15, 19, 75, 41,
        4, 14, 43, 21,  6, 40, 66, 57, 59,  7, 63, 20, 38, 22, 35, 32, 11,
        5, 18, 76, 42, 39, 52, 27, 33, 58, 62, 51, 12, 50, 53, 60, 13, 16,
       64, 31, 72, 10, 47,  9, 34, 55, 36], dtype=int64)

In [14]:
#of the 1000 records, whats the spread for location_description
count_ld=df["location_description"].value_counts()
count_ld

STREET                                             260
RESIDENCE                                          163
APARTMENT                                          146
SIDEWALK                                            62
OTHER                                               38
PARKING LOT/GARAGE(NON.RESID.)                      31
SMALL RETAIL STORE                                  29
RESTAURANT                                          27
ALLEY                                               23
VEHICLE NON-COMMERCIAL                              20
RESIDENCE PORCH/HALLWAY                             19
DEPARTMENT STORE                                    19
RESIDENTIAL YARD (FRONT/BACK)                       16
CTA TRAIN                                           14
RESIDENCE-GARAGE                                    13
GAS STATION                                         12
GROCERY FOOD STORE                                  11
CONVENIENCE STORE                                   10
DRUG STORE                                           7
CTA PLATFORM                                         5
BAR OR TAVERN                                        5
CTA STATION                                          5
COMMERCIAL / BUSINESS OFFICE                         4
HOSPITAL BUILDING/GROUNDS                            4
DRIVEWAY - RESIDENTIAL                               4
CHURCH/SYNAGOGUE/PLACE OF WORSHIP                    3
BANK                                                 3
POLICE FACILITY/VEH PARKING LOT                      3
VACANT LOT/LAND                                      3
ATM (AUTOMATIC TELLER MACHINE)                       2
                                                  ...
CONSTRUCTION SITE                                    2
AUTO                                                 2
TAXICAB                                              2
CHA PARKING LOT/GROUNDS                              2
ATHLETIC CLUB                                        2
HIGHWAY/EXPRESSWAY                                   1
CHA APARTMENT                                        1
COLLEGE/UNIVERSITY RESIDENCE HALL                    1
CURRENCY EXCHANGE                                    1
ABANDONED BUILDING                                   1
SPORTS ARENA/STADIUM                                 1
WAREHOUSE                                            1
GOVERNMENT BUILDING/PROPERTY                         1
VEHICLE-COMMERCIAL                                   1
CHA HALLWAY/STAIRWELL/ELEVATOR                       1
FEDERAL BUILDING                                     1
FACTORY/MANUFACTURING BUILDING                       1
AIRPORT TERMINAL LOWER LEVEL - SECURE AREA           1
HOTEL/MOTEL                                          1
AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA      1
CTA BUS                                              1
AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA       1
AUTO / BOAT / RV DEALERSHIP                          1
SCHOOL, PUBLIC, GROUNDS                              1
BOWLING ALLEY                                        1
NURSING HOME/RETIREMENT HOME                         1
CTA GARAGE / OTHER PROPERTY                          1
SCHOOL, PRIVATE, BUILDING                            1
PARK PROPERTY                                        1
DAY CARE CENTER                                      1
Name: location_description, Length: 61, dtype: int64

In [34]:
#of the 1000 records, whats the spread for location_description
count_ar=df["arrest"].value_counts()
count_ar

False    815
True     185
Name: arrest, dtype: int64

In [15]:
#of the 1000 records, whats the spread for primary_type
count_pt=df["primary_type"].value_counts()
count_pt

THEFT                                258
BATTERY                              169
CRIMINAL DAMAGE                      104
ASSAULT                               74
NARCOTICS                             71
DECEPTIVE PRACTICE                    64
OTHER OFFENSE                         62
ROBBERY                               51
BURGLARY                              49
MOTOR VEHICLE THEFT                   31
CRIMINAL TRESPASS                     25
WEAPONS VIOLATION                     22
INTERFERENCE WITH PUBLIC OFFICER       4
PUBLIC PEACE VIOLATION                 3
SEX OFFENSE                            3
PROSTITUTION                           3
HOMICIDE                               2
OFFENSE INVOLVING CHILDREN             2
INTIMIDATION                           1
CRIM SEXUAL ASSAULT                    1
CONCEALED CARRY LICENSE VIOLATION      1
Name: primary_type, dtype: int64

In [16]:
#of the 1000 records, whats the spread for description
count_d=df["description"].value_counts()
count_d

SIMPLE                                            100
DOMESTIC BATTERY SIMPLE                            91
$500 AND UNDER                                     81
OVER $500                                          74
TO VEHICLE                                         58
TO PROPERTY                                        52
RETAIL THEFT                                       43
FROM BUILDING                                      42
FORCIBLE ENTRY                                     30
AUTOMOBILE                                         27
ARMED: HANDGUN                                     17
POSS: HEROIN(WHITE)                                17
CREDIT CARD FRAUD                                  16
UNLAWFUL POSS OF HANDGUN                           16
AGGRAVATED: HANDGUN                                16
UNLAWFUL ENTRY                                     15
TELEPHONE THREAT                                   14
STRONGARM - NO WEAPON                              13
FINANCIAL IDENTITY THEFT OVER $ 300                13
POCKET-PICKING                                     13
TO LAND                                            10
AGGRAVATED:KNIFE/CUTTING INSTR                      9
VEHICLE TITLE/REG OFFENSE                           9
FRAUD OR CONFIDENCE GAME                            9
POSS: CANNABIS MORE THAN 30GMS                      8
AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON      7
SOLICIT NARCOTICS ON PUBLICWAY                      7
HARASSMENT BY ELECTRONIC MEANS                      7
AGGRAVATED: OTHER DANG WEAPON                       7
POSS: CANNABIS 30GMS OR LESS                        7
                                                 ...
THEFT OF LABOR/SERVICES                             1
POSS: SYNTHETIC DRUGS                               1
HOME INVASION                                       1
ATTEMPT: ARMED-OTHER DANG WEAP                      1
OBSTRUCTING IDENTIFICATION                          1
BOGUS CHECK                                         1
POSS: AMPHETAMINES                                  1
POSS: BARBITUATES                                   1
AGGRAVATED PO: OTHER DANG WEAP                      1
UNLAWFUL POSS OTHER FIREARM                         1
VIOLATION GPS MONITORING DEVICE                     1
AGGRAVATED OF A SENIOR CITIZEN                      1
VIO BAIL BOND: DOM VIOLENCE                         1
MANU/DEL:CANNABIS OVER 10 GMS                       1
MANU/DELIVER: HEROIN(BRN/TAN)                       1
RECKLESS CONDUCT                                    1
POSSESSION OF DRUG EQUIPMENT                        1
POSS: HEROIN(BRN/TAN)                               1
AGGRAVATED                                          1
ATTEMPT: ARMED-OTHER FIREARM                        1
CRIMINAL DEFACEMENT                                 1
AGG PRO.EMP:KNIFE/CUTTING INST                      1
ATT: AUTOMOBILE                                     1
MANU/DELIVER: METHAMPHETAMINES                      1
BOMB THREAT                                         1
ATTEMPT: STRONGARM-NO WEAPON                        1
OTHER OFFENSE                                       1
THEFT OF LOST/MISLAID PROP                          1
ARMED WHILE UNDER THE INFLUENCE                     1
AGG SEX ASSLT OF CHILD FAM MBR                      1
Name: description, Length: 110, dtype: int64

In [17]:
#of the 1000 records, whats the spread for updated_on
count_up=df["updated_on"].value_counts()
count_up

2019-01-10T15:16:50    1000
Name: updated_on, dtype: int64

In [18]:
#of the 1000 records, whats the spread for year
count_yr=df["year"].value_counts()
count_yr

2019    1000
Name: year, dtype: int64

In [19]:
#of the 1000 records, whats the spread for community_area
count_ca=df["community_area"].value_counts()
count_ca

25    47
29    47
8     46
32    42
43    42
28    38
23    31
49    30
67    30
44    28
69    27
46    26
68    25
71    25
22    24
27    23
24    23
73    21
3     20
30    18
19    18
66    17
26    17
53    14
1     14
56    14
6     13
15    11
61    11
7     11
      ..
14     7
4      7
48     6
31     6
76     6
54     6
72     5
50     4
51     4
57     4
20     4
17     4
16     4
5      3
13     3
74     3
11     3
37     3
60     3
47     3
18     2
64     2
52     2
33     2
12     1
9      1
36     1
55     1
34     1
59     1
Name: community_area, Length: 77, dtype: int64

In [23]:
#on the site I downloaded the full dataset in csv.  I'm pulling that data in here
csvdf=pd.read_csv(r"\Users\n8gre\Desktop\Project1CrimeData\Crimes_-_2001_to_present.csv")

In [35]:
#now... what do I see 'notice the headers changed
csvdf.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [25]:
#some of the data types changed after pulling in csv too
csvdf.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [26]:
#now, how many years are in there
unique_cyr=csvdf["Year"].unique()
unique_cyr

array([2015, 2014, 2002, 2008, 2006, 2004, 2001, 2005, 2016, 2017, 2009,
       2012, 2013, 2018, 2003, 2011, 2007, 2010, 2019], dtype=int64)

In [27]:
#now what do I see in location desctiption
unique_cld=csvdf["Location Description"].unique()
unique_cld

array(['STREET', 'APARTMENT', 'SIDEWALK', 'RESIDENCE PORCH/HALLWAY',
       'PARKING LOT/GARAGE(NON.RESID.)', 'CTA GARAGE / OTHER PROPERTY',
       'DRIVEWAY - RESIDENTIAL', 'GAS STATION', 'OTHER',
       'GROCERY FOOD STORE', 'ALLEY', 'BAR OR TAVERN',
       'VEHICLE NON-COMMERCIAL', 'RESIDENCE',
       'FACTORY/MANUFACTURING BUILDING', 'CTA BUS STOP',
       'SCHOOL, PUBLIC, BUILDING', 'DRUG STORE',
       'COMMERCIAL / BUSINESS OFFICE', 'RESIDENCE-GARAGE',
       'SMALL RETAIL STORE', 'NURSING HOME/RETIREMENT HOME',
       'VACANT LOT/LAND', 'RESTAURANT', 'HOSPITAL BUILDING/GROUNDS',
       'DEPARTMENT STORE', 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP',
       'SCHOOL, PUBLIC, GROUNDS', 'HOTEL/MOTEL', 'MEDICAL/DENTAL OFFICE',
       'SCHOOL, PRIVATE, BUILDING', nan, 'CTA BUS',
       'RESIDENTIAL YARD (FRONT/BACK)', 'GOVERNMENT BUILDING/PROPERTY',
       'DAY CARE CENTER', 'AIRPORT/AIRCRAFT', 'CAR WASH', 'BANK',
       'TAVERN/LIQUOR STORE', 'COLLEGE/UNIVERSITY RESIDENCE HALL',
       'COLLEGE/UNIVERSITY GROUNDS', 'TAXICAB',
       'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA',
       'SCHOOL, PRIVATE, GROUNDS', 'OTHER RAILROAD PROP / TRAIN DEPOT',
       'BARBERSHOP', 'PARK PROPERTY', 'CTA TRACKS - RIGHT OF WAY',
       'ATM (AUTOMATIC TELLER MACHINE)', 'VEHICLE-COMMERCIAL',
       'ATHLETIC CLUB', 'CONVENIENCE STORE', 'CONSTRUCTION SITE',
       'CHA APARTMENT', 'CHA PARKING LOT/GROUNDS', 'CTA PLATFORM',
       'CLEANING STORE', 'OTHER COMMERCIAL TRANSPORTATION',
       'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA', 'CTA STATION',
       'CURRENCY EXCHANGE', 'WAREHOUSE', 'CTA TRAIN',
       'POLICE FACILITY/VEH PARKING LOT', 'AIRCRAFT',
       'AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA',
       'AIRPORT VENDING ESTABLISHMENT',
       'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
       'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA', 'HOUSE',
       'SPORTS ARENA/STADIUM', 'MOVIE HOUSE/THEATER',
       'AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA',
       'LAKEFRONT/WATERFRONT/RIVERBANK',
       'AIRPORT EXTERIOR - NON-SECURE AREA',
       'CHA HALLWAY/STAIRWELL/ELEVATOR', 'LIBRARY',
       'JAIL / LOCK-UP FACILITY',
       'AIRPORT BUILDING NON-TERMINAL - SECURE AREA',
       'GAS STATION DRIVE/PROP.', 'ABANDONED BUILDING', 'ANIMAL HOSPITAL',
       'APPLIANCE STORE', 'POOL ROOM', 'BOWLING ALLEY',
       'AIRPORT PARKING LOT', 'FIRE STATION', 'PAWN SHOP',
       'BOAT/WATERCRAFT', 'BRIDGE', 'PARKING LOT', 'AUTO', 'RETAIL STORE',
       'VEHICLE - DELIVERY TRUCK', 'AIRPORT TRANSPORTATION SYSTEM (ATS)',
       'CEMETARY', 'HIGHWAY/EXPRESSWAY', 'FEDERAL BUILDING',
       'SAVINGS AND LOAN', 'FOREST PRESERVE', 'GARAGE', 'PORCH',
       'NEWSSTAND', 'AIRPORT EXTERIOR - SECURE AREA', 'HALLWAY',
       'VEHICLE - OTHER RIDE SERVICE', 'YARD', 'CREDIT UNION',
       'VACANT LOT', 'COIN OPERATED MACHINE', 'BARBER SHOP/BEAUTY SALON',
       'CHA HALLWAY', 'GANGWAY', 'ROOMING HOUSE', 'SCHOOL YARD', 'TAVERN',
       'CTA PROPERTY', 'CHA PARKING LOT', 'STAIRWELL', 'HOTEL',
       'AUTO / BOAT / RV DEALERSHIP', 'DELIVERY TRUCK',
       'VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)',
       'DRIVEWAY', 'GARAGE/AUTO REPAIR', 'CHA STAIRWELL', 'BASEMENT',
       'TRUCK', 'COACH HOUSE', 'CLUB', 'LOADING DOCK', 'CHA ELEVATOR',
       'LAKE', 'RAILROAD PROPERTY', 'VESTIBULE', 'CHA PLAY LOT',
       'CHA GROUNDS', 'GOVERNMENT BUILDING', 'HOSPITAL', 'RIVER',
       'VEHICLE-COMMERCIAL - TROLLEY BUS',
       'VEHICLE-COMMERCIAL - ENTERTAINMENT/PARTY BUS', 'LAGOON',
       'DUMPSTER', 'HORSE STABLE', 'FARM', 'LIQUOR STORE', 'WOODED AREA',
       'ELEVATOR', 'COUNTY JAIL', 'YMCA', 'CHURCH PROPERTY', 'SEWER',
       'LIVERY STAND OFFICE', 'CHURCH', 'CHA BREEZEWAY', 'CHA LOBBY',
       'PRAIRIE', 'PUBLIC GRAMMAR SCHOOL', 'JUNK YARD/GARBAGE DUMP',
       'FUNERAL PARLOR', 'OFFICE', 'RIVER BANK', 'NURSING HOME',
       'CLEANERS/LAUNDROMAT', 'MOTEL', 'EXPRESSWAY EMBANKMENT',
       'CTA "L" PLATFORM', 'PUBLIC HIGH SCHOOL', 'TAXI CAB',
       'CTA "L" TRAIN', 'TRUCKING TERMINAL', 'FACTORY', 'TRAILER',
       'LAUNDRY ROOM', 'LIVERY AUTO', 'BANQUET HALL', 'POOLROOM',
       'KENNEL'], dtype=object)

In [28]:
#new location descrption counts
count_cld=csvdf["Location Description"].value_counts()
count_cld

STREET                            1778798
RESIDENCE                         1148868
APARTMENT                          702554
SIDEWALK                           667907
OTHER                              257976
PARKING LOT/GARAGE(NON.RESID.)     194721
ALLEY                              151495
SCHOOL, PUBLIC, BUILDING           142738
RESIDENCE-GARAGE                   132037
SMALL RETAIL STORE                 120252
RESIDENCE PORCH/HALLWAY            118708
VEHICLE NON-COMMERCIAL             108935
RESTAURANT                         106646
GROCERY FOOD STORE                  87776
DEPARTMENT STORE                    84409
GAS STATION                         72491
RESIDENTIAL YARD (FRONT/BACK)       70071
CHA PARKING LOT/GROUNDS             55512
PARK PROPERTY                       52416
COMMERCIAL / BUSINESS OFFICE        49370
CTA PLATFORM                        36424
BAR OR TAVERN                       36300
CHA APARTMENT                       36102
DRUG STORE                          30739
SCHOOL, PUBLIC, GROUNDS             29122
HOTEL/MOTEL                         28219
BANK                                27588
CHA HALLWAY/STAIRWELL/ELEVATOR      24852
CTA TRAIN                           24348
VACANT LOT/LAND                     23990
                                   ...
CHA BREEZEWAY                           3
LAKE                                    3
SEWER                                   3
YMCA                                    3
HORSE STABLE                            3
PRAIRIE                                 2
FACTORY                                 2
CHA ELEVATOR                            2
LIVERY STAND OFFICE                     2
ROOMING HOUSE                           2
LAUNDRY ROOM                            2
CTA "L" TRAIN                           2
CHURCH PROPERTY                         2
GOVERNMENT BUILDING                     2
PUBLIC HIGH SCHOOL                      2
FARM                                    2
COUNTY JAIL                             2
PUBLIC GRAMMAR SCHOOL                   1
CLEANERS/LAUNDROMAT                     1
ELEVATOR                                1
KENNEL                                  1
POOLROOM                                1
TRUCKING TERMINAL                       1
FUNERAL PARLOR                          1
JUNK YARD/GARBAGE DUMP                  1
BANQUET HALL                            1
LIVERY AUTO                             1
LAGOON                                  1
LOADING DOCK                            1
EXPRESSWAY EMBANKMENT                   1
Name: Location Description, Length: 179, dtype: int64

In [36]:
#alright, all that looks good.  I'll pull out the headers that I want
clncsv=csvdf[["Arrest", "Year", "Primary Type", "Description", "Updated On", "Location Description", "Community Area"]]
clncsv.head()

,Arrest,Year,Primary Type,Description,Updated On,Location Description,Community Area
0,False,2015,BATTERY,AGGRAVATED: HANDGUN,02/10/2018 03:50:01 PM,STREET,25.0
1,True,2015,OTHER OFFENSE,PAROLE VIOLATION,02/10/2018 03:50:01 PM,STREET,67.0
2,False,2015,BATTERY,DOMESTIC BATTERY SIMPLE,02/10/2018 03:50:01 PM,APARTMENT,39.0
3,False,2015,BATTERY,SIMPLE,02/10/2018 03:50:01 PM,APARTMENT,40.0
4,False,2015,ROBBERY,ARMED: HANDGUN,02/10/2018 03:50:01 PM,SIDEWALK,25.0

In [37]:
#lets export the clean data
clncsv.to_csv(r"\Users\n8gre\Desktop\Project1CrimeData\CleanCrimeData.csv", encoding="utf-8", index=False, header=True)