In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import mode

In [2]:
#on the site I downloaded the full dataset in csv.  I'm pulling that data in here
data=pd.read_csv(r"\Users\n8gre\Desktop\Project1CrimeData\Crimes_-_2001_to_present.csv")

In [3]:
#how many stuff in there
data.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,6.784163e+06,6.784163e+06,6.784116e+06,6.169309e+06,6.168134e+06,6.723123e+06,6.723123e+06,6.784163e+06,6.723123e+06,6.723123e+06
mean,6.253695e+06,1.191681e+03,1.130278e+01,2.268058e+01,3.757462e+01,1.164517e+06,1.885718e+06,2.008372e+03,4.184201e+01,-8.767180e+01
std,3.055737e+06,7.033678e+02,6.945603e+00,1.383230e+01,2.153163e+01,1.716948e+04,3.270917e+04,5.044947e+00,9.000730e-02,6.213299e-02
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.437888e+06,6.220000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152935e+06,1.859186e+06,2.004000e+03,4.176890e+01,-8.771386e+01
50%,6.240325e+06,1.111000e+03,1.000000e+01,2.200000e+01,3.200000e+01,1.165990e+06,1.890580e+06,2.008000e+03,4.185527e+01,-8.766619e+01
75%,8.886980e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176352e+06,1.909318e+06,2.012000e+03,4.190687e+01,-8.762836e+01
max,1.156228e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.019000e+03,4.202291e+01,-8.752453e+01

In [6]:
#get rid of the unnecessary years
data=data.drop(data[data.Year>2015].index)

In [7]:
#k lets do the bottom half
data=data.drop(data[data.Year<2012].index)

In [8]:
#now what do I see
data.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,1.182222e+06,1.182222e+06,1.182222e+06,1.182208e+06,1.182192e+06,1.173372e+06,1.173372e+06,1.182222e+06,1.173372e+06,1.173372e+06
mean,9.372914e+06,1.151152e+03,1.126003e+01,2.282872e+01,3.758649e+01,1.164438e+06,1.885431e+06,2.013395e+03,4.184122e+01,-8.767210e+01
std,6.778432e+05,6.918663e+02,6.905624e+00,1.377215e+01,2.145500e+01,1.733056e+04,3.260313e+04,1.119796e+00,8.971730e-02,6.274969e-02
min,2.022400e+04,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.012000e+03,3.661945e+01,-9.168657e+01
25%,8.891858e+06,6.130000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152514e+06,1.858647e+06,2.012000e+03,4.176747e+01,-8.771541e+01
50%,9.369664e+06,1.024000e+03,1.000000e+01,2.300000e+01,3.200000e+01,1.166001e+06,1.891024e+06,2.013000e+03,4.185656e+01,-8.766619e+01
75%,9.867584e+06,1.711000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176364e+06,1.908694e+06,2.014000e+03,4.190526e+01,-8.762811e+01
max,1.156157e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951573e+06,2.015000e+03,4.202271e+01,-8.752453e+01

In [9]:
#alright, all that looks good.  I'll pull out the headers that I want
data=data[["ID", "Year", "Location Description", "Community Area"]]
data.head()

         ID  Year Location Description  Community Area
0  10000092  2015               STREET            25.0
1  10000094  2015               STREET            67.0
2  10000095  2015            APARTMENT            39.0
3  10000096  2015            APARTMENT            40.0
4  10000097  2015             SIDEWALK            25.0

In [10]:
#remove the damn spaces!
cols = data.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
data.columns = cols
data.head()

         ID  Year Location_Description  Community_Area
0  10000092  2015               STREET            25.0
1  10000094  2015               STREET            67.0
2  10000095  2015            APARTMENT            39.0
3  10000096  2015            APARTMENT            40.0
4  10000097  2015             SIDEWALK            25.0

In [11]:
#jackies pop data - changed public area to Name to match the walk
csvpop=pd.read_csv(r"\Users\n8gre\Desktop\Project1CrimeData\Illinois_Population2.csv", index_col=0)
csvpop.head()

,Name,Total Population,Public Use Microdata Area,Year
0,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",132179,104,2012
1,"Rock Island County PUMA, Illinois",147504,105,2012
2,"Henry, Mercer, Henderson, Warren, Hancock, McD...",180417,202,2012
3,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,300,2012
4,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,401,2012

In [14]:
#remove the damn spaces!
cols = csvpop.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
csvpop.columns = cols
csvpop.head()

,Name,Total_Population,Public_Use_Microdata_Area,Year
0,"Jo Daviess, Carroll, Whiteside & Lee Counties ...",132179,104,2012
1,"Rock Island County PUMA, Illinois",147504,105,2012
2,"Henry, Mercer, Henderson, Warren, Hancock, McD...",180417,202,2012
3,"Adams, Pike, Brown, Schuyler & Mason Counties ...",112582,300,2012
4,"Cass, Morgan, Scott, Greene, Macoupin, Jersey ...",143980,401,2012

In [12]:
#crime to pop walk  Change Community number to community area and change population usage area to Name
csvwalk=pd.read_csv(r"\Users\n8gre\Desktop\Project1CrimeData\walk.csv")
csvwalk.head()

,Unnamed: 0,Community,Community Area,Name
0,0,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
1,1,West Ridge,2,"Chicago City (North)--West Ridge, Lincoln Squa..."
2,2,Uptown,3,"Chicago City (North)--Edgewater, Uptown & Roge..."
3,3,Lincoln Square,4,"Chicago City (North)--West Ridge, Lincoln Squa..."
4,4,North Center,5,"Chicago City (North)--West Ridge, Lincoln Squa..."

In [13]:
#remove the damn spaces!
cols = csvwalk.columns
cols = cols.map(lambda x: x.replace(' ','_') if isinstance(x, (str)) else x)
csvwalk.columns = cols
csvwalk.head()

,Unnamed:_0,Community,Community_Area,Name
0,0,Rogers Park,1,"Chicago City (North)--Edgewater, Uptown & Roge..."
1,1,West Ridge,2,"Chicago City (North)--West Ridge, Lincoln Squa..."
2,2,Uptown,3,"Chicago City (North)--Edgewater, Uptown & Roge..."
3,3,Lincoln Square,4,"Chicago City (North)--West Ridge, Lincoln Squa..."
4,4,North Center,5,"Chicago City (North)--West Ridge, Lincoln Squa..."

In [16]:
#bring the crime data together with the walk
data=data.merge(csvwalk, on=("Community_Area"))
data.head()

,ID,Year,Location_Description,Community_Area,Unnamed:_0,Community,Name
0,10000092,2015,STREET,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."
1,10000097,2015,SIDEWALK,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."
2,10000111,2015,GAS STATION,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."
3,10000123,2015,VEHICLE NON-COMMERCIAL,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."
4,10000169,2015,APARTMENT,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ..."

In [18]:
#bring the new crimedata with walk together with pop
data=pd.merge(data, csvpop, on=("Name", "Year"))
data.head()

,ID,Year,Location_Description,Community_Area,Unnamed:_0,Community,Name,Total_Population,Public_Use_Microdata_Area
0,10000092,2015,STREET,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521
1,10000097,2015,SIDEWALK,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521
2,10000111,2015,GAS STATION,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521
3,10000123,2015,VEHICLE NON-COMMERCIAL,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521
4,10000169,2015,APARTMENT,25.0,25,Austin,"Chicago City (West)--Austin, Belmont Cragin & ...",189826,3521

In [19]:
#alright, all that looks good.  I'll pull out the headers that I want
data=data[["ID", "Year", "Location_Description", "Community_Area", "Total_Population"]]
data.head()

         ID  Year    Location_Description  Community_Area  Total_Population
0  10000092  2015                  STREET            25.0            189826
1  10000097  2015                SIDEWALK            25.0            189826
2  10000111  2015             GAS STATION            25.0            189826
3  10000123  2015  VEHICLE NON-COMMERCIAL            25.0            189826
4  10000169  2015               APARTMENT            25.0            189826

In [24]:
data.set_index("Location_Description", "Community_Area", "Year")

,,ID,Year,Community_Area,Total_Population
,Location_Description,,,,
0,STREET,10000092,2015,25.0,189826
1,SIDEWALK,10000097,2015,25.0,189826
2,GAS STATION,10000111,2015,25.0,189826
3,VEHICLE NON-COMMERCIAL,10000123,2015,25.0,189826
4,APARTMENT,10000169,2015,25.0,189826
5,STREET,10000170,2015,25.0,189826
6,GAS STATION,10000179,2015,25.0,189826
7,OTHER,10000354,2015,25.0,189826
8,APARTMENT,10000424,2015,25.0,189826
9,SIDEWALK,10000473,2015,25.0,189826
10,STREET,10000475,2015,25.0,189826
11,SIDEWALK,10000572,2015,25.0,189826
12,SIDEWALK,10000648,2015,25.0,189826
13,RESIDENCE,10000668,2015,25.0,189826
14,SIDEWALK,10000699,2015,25.0,189826
15,OTHER,10000700,2015,25.0,189826
16,ALLEY,10000702,2015,25.0,189826
17,RESIDENCE,10000704,2015,25.0,189826
18,NaN,10000755,2015,25.0,189826
19,STREET,10000779,2015,25.0,189826
20,"SCHOOL, PUBLIC, BUILDING",10000792,2015,25.0,189826
21,GAS STATION,10000823,2015,25.0,189826
22,GAS STATION,10000875,2015,25.0,189826
23,STREET,10000889,2015,25.0,189826
24,SIDEWALK,10000895,2015,25.0,189826
25,SMALL RETAIL STORE,10000942,2015,25.0,189826
26,STREET,10001020,2015,25.0,189826
27,SIDEWALK,10001085,2015,25.0,189826
28,SIDEWALK,10001121,2015,25.0,189826
29,RESIDENCE,10001270,2015,25.0,189826
...,...,...,...,...,...
1043485,"SCHOOL, PUBLIC, GROUNDS",9403849,2013,9.0,186248
1043486,RESIDENCE,9405722,2013,9.0,186248
1043487,APARTMENT,9406697,2013,9.0,186248
1043488,COMMERCIAL / BUSINESS OFFICE,9411665,2013,9.0,186248
1043489,STREET,9414264,2013,9.0,186248
1043490,RESIDENCE,9414588,2013,9.0,186248
1043491,STREET,9418057,2013,9.0,186248
1043492,APARTMENT,9418204,2013,9.0,186248
1043493,RESIDENCE,9418801,2013,9.0,186248
1043494,RESIDENCE,9422422,2013,9.0,186248
1043495,RESIDENCE,9423265,2013,9.0,186248
1043496,RESIDENCE,9425252,2013,9.0,186248
1043497,RESIDENTIAL YARD (FRONT/BACK),9427459,2013,9.0,186248
1043498,RESIDENCE,9432238,2013,9.0,186248
1043499,RESIDENCE,9432357,2013,9.0,186248
1043500,APARTMENT,9435418,2013,9.0,186248
1043501,SIDEWALK,9435440,2013,9.0,186248
1043502,STREET,9436225,2013,9.0,186248
1043503,RESIDENCE,9439546,2013,9.0,186248
1043504,APARTMENT,9443259,2013,9.0,186248
1043505,OTHER,9447130,2013,9.0,186248
1043506,RESIDENCE,9449943,2013,9.0,186248
1043507,RESIDENCE-GARAGE,9450703,2013,9.0,186248
1043508,RESIDENCE,9536324,2013,9.0,186248
1043509,RESIDENCE,9576362,2013,9.0,186248
1043510,RESIDENCE,9618660,2013,9.0,186248
1043511,STREET,9655470,2013,9.0,186248
1043512,RESIDENCE,9813281,2013,9.0,186248
1043513,RESIDENCE,10793687,2013,9.0,186248
1043514,RESIDENCE,11433839,2013,9.0,186248

In [34]:
lddata=data.groupby('Location_Description')['ID'].count()

In [35]:
cadata=data.groupby('Community_Area')['ID'].count()

In [43]:
lddata.sort_values(ascending=False)

Location_Description
STREET                                                   236319
RESIDENCE                                                167594
APARTMENT                                                131308
SIDEWALK                                                 118739
OTHER                                                     39741
PARKING LOT/GARAGE(NON.RESID.)                            28974
ALLEY                                                     23007
RESIDENTIAL YARD (FRONT/BACK)                             21776
SMALL RETAIL STORE                                        21172
RESTAURANT                                                18793
RESIDENCE-GARAGE                                          18555
RESIDENCE PORCH/HALLWAY                                   18212
SCHOOL, PUBLIC, BUILDING                                  18072
VEHICLE NON-COMMERCIAL                                    17708
DEPARTMENT STORE                                          16129
GROCERY FOOD STORE                                        11745
GAS STATION                                               10616
PARK PROPERTY                                              8539
BAR OR TAVERN                                              7664
COMMERCIAL / BUSINESS OFFICE                               5683
CTA PLATFORM                                               5488
CTA TRAIN                                                  4988
HOTEL/MOTEL                                                4813
VACANT LOT/LAND                                            4634
CTA BUS                                                    4609
CONVENIENCE STORE                                          4530
SCHOOL, PUBLIC, GROUNDS                                    4464
BANK                                                       4036
DRUG STORE                                                 3710
HOSPITAL BUILDING/GROUNDS                                  3327
                                                          ...
HALLWAY                                                      17
GANGWAY                                                      11
RETAIL STORE                                                  9
GAS STATION DRIVE/PROP.                                       9
VACANT LOT                                                    8
GARAGE                                                        6
CHA PARKING LOT                                               6
VESTIBULE                                                     5
TAVERN                                                        5
DRIVEWAY                                                      4
BARBER SHOP/BEAUTY SALON                                      3
AUTO / BOAT / RV DEALERSHIP                                   2
HOTEL                                                         2
VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)         2
TAXI CAB                                                      2
STAIRWELL                                                     2
SCHOOL YARD                                                   1
TRUCK                                                         1
CTA "L" PLATFORM                                              1
BASEMENT                                                      1
GOVERNMENT BUILDING                                           1
PUBLIC HIGH SCHOOL                                            1
GARAGE/AUTO REPAIR                                            1
OFFICE                                                        1
NURSING HOME                                                  1
CLUB                                                          1
MOTEL                                                         1
LIQUOR STORE                                                  1
HOSPITAL                                                      1
CHURCH PROPERTY                                               1
Name: ID, Length: 136, dtype: int64

In [44]:
cadata.sort_values(ascending=False)

Community_Area
25.0    77764
43.0    40586
8.0     39469
23.0    38894
67.0    34141
71.0    33834
28.0    33773
24.0    32321
68.0    31647
49.0    31209
32.0    30451
69.0    29990
66.0    28595
44.0    26707
6.0     25807
26.0    25598
61.0    23079
46.0    22705
22.0    22560
19.0    21886
30.0    20109
53.0    19288
42.0    18098
7.0     17343
1.0     16751
3.0     16742
15.0    14976
38.0    14769
2.0     14362
73.0    14236
        ...
58.0    11758
31.0    11610
63.0    11059
21.0    10583
77.0    10579
14.0    10574
70.0    10529
75.0     9441
65.0     8863
51.0     8656
56.0     8365
4.0      8224
76.0     7725
20.0     7544
60.0     7478
33.0     7339
17.0     6991
5.0      6579
41.0     6523
45.0     6338
52.0     5953
11.0     5133
59.0     4758
50.0     4684
72.0     4120
13.0     3715
18.0     2527
12.0     1955
47.0     1798
9.0      1124
Name: ID, Length: 61, dtype: int64

In [45]:
cadata.loc[['25', '43', '8', '23', '67'], :]

IndexingError: Too many indexers